[2018-10-08 23:28] JTonda opened #1905 "Update Zowe VSCode extension"

[2018-10-09 12:37] JTonda opened #1 "Update Zowe VSCode extension"
As Michelle, I want the Zowe VSCode Extension to work properly with profiles stored in plain text so that I can continue to make use of it to improve my interaction with z/OS datasets.

Update Zowe VSCode extension to work with profile credentials now stored in plain text under .zowe. Update documentation. No requirement to also work with securely stored profiles (eg 1.x).

~Enhance error message

[2018-10-09 12:39] #1905 closed

[2018-10-09 19:02] AHumanFromCA commented on #1
**Meeting Notes**

- Remove calls to CredentialManager / keytar
- Initialize the logger
- Possible updates to CliProfileManager call to account for no credential manager
- Update documentation
  - Remove doc about keytar
- Publish via pipeline not part of this story
- Bump version of zowe and imperative
- Run existing system tests. They should all pass

[2018-10-09 19:12] AHumanFromCA commented on #1
After further discussions this ask might be impossible:

**Reasons**

- The meta file for profiles does not contain any versioning information
- The new system can work without zowe-cli being installed as all profiles can be hand created

**Notes:**
- As is currently, if there are missing properties, the CliProfileManager will inform of the missing fields

[code]

[2018-10-10 15:08] AHumanFromCA opened #3 "Indication in dataset view that pattern didn't match any files"
When I first started using the plugin, I had some difficulty understanding that I didn't have a pattern set for my dataset filters. This caused me some pain as I was able to see my zowe profiles but couldn't figure out why there were no datasets listed.

Perhaps there should be some indication that the pattern specified doesn't match anything on the mainframe. At the very least, there should be a

[2018-10-11 20:42] AHumanFromCA commented on #1
At this point, the story wasn't to enable plaintext profiles. I think the actual story should be more like, bring VSC Extension quality :/

[2018-10-12 13:51] AHumanFromCA opened #4 "Build output directory not cleared on each build"
The `out` directory is not cleaned prior to each build run. This could lead to stale files left in the out directory that get shipped with the extension.

[2018-10-12 13:53] AHumanFromCA opened #5 "Tests and mocks are compiled with the build"
Our tests and mocks are compiled with the build. This leads to us shipping our unit tests in the extension and also confuses jest with the mocks folder.

[code]

[2018-10-12 14:10] AHumanFromCA opened #6 "System tests require profile to be created in .zowe folder"
The system tests are supposed to be isolated from any `.zowe` profile configuration. This is only partially true, as some tests require the profile name you specified in `resources/testProfileTata.ts` to exist in a `.zowe` profile.

This should not be the case, if the test needs stuff created in the `.zowe` profile, it should create profiles in an isolated place and have the system tests use those

[2018-10-12 14:13] AHumanFromCA opened #7 "System tests require at least 2 .zowe profiles"
Related to #6, the system tests will fail if there are not 2 profiles defined in the `.zowe` directory. This caught me by surprise while trying to test #1, so I added this constriction to the readme for now.

The final solution should be to make the system tests independent of the `.zowe` folder and give them the control to configure any file system needs.

[2018-10-12 14:16] AHumanFromCA opened #8 "No way to specify where profiles are located within the extension"
Right now, the extension is hardcoded to look in the `~/.zowe` folder for profiles. This is not ideal.

There should be some sort of mechanism for the extension. At the very least it could also look for the zowe environment variable to determine where profiles are stored. A further item could be added to have vs code look for a config file in a project directory / user settings directory. This fil

[2018-10-12 14:20] AHumanFromCA opened #9 "System tests / unit tests need sustainability updates"
The System and Unit tests need to be evaluated and re-written to be more sustainable.

This became apparent while developing #1. This change was a simple removal of code which turned into a nightmare for testing. This simple change caused cascading unit test failures to the point where we aren't really sure why. Most of this could be solved by making test cases much smaller than they currently are

[2018-10-12 14:23] AHumanFromCA opened #10 "Unit tests do not pass on master"
The following tests fail on master:

[code]

[2018-10-12 14:26] AHumanFromCA opened #11 "80% code coverage not achieved by unit tests"
Below is the current report of code coverage for unit tests:

[code]

That brings up the following issues:

- extension.ts only has 78.26% of statements covered
- extension.ts only has 43.14% of functions covered
- overall only 58.33% of functions are covered

These must be addressed if this is officially to be a production application

[2018-10-12 14:30] AHumanFromCA opened #12 "Need contributing and developer docs"
Right now there are no contributing or developer documentation present in the repo.

A `docs` folder should be created with a README and CONTRIBUTING guide.

The developer documentation present in the root README should be placed in the README of the docs folder.

[2018-10-12 14:32] AHumanFromCA commented on #12
Looks like commits
- 1c334450fd32a0e14c4de3b96b41502b248f9d9e
- ec1a2fe0b97ef769422963f1d36cfd5d4e27fef2
- 6f6a5934daa7e8210249aaa2502f6ee74a1c5000
- 7a72e7ba44a89efe891db049d4c52eb3999b8fb4

take care of most of the developer content.

[2018-10-12 14:45] AHumanFromCA opened #13 "Need CI/CD"
If this is to be a production app, there should be a CI/CD pipeline associated with it.

Perhaps @zFernand0 we can just build a from scratch ci/cd pipeline and use all of the knowledge we have gained in the course of the Zowe project to do it proper from the start. I don't want to keep hacking and slashing the same base CI/CD that we've been using due to flaws in the design.

[2018-10-12 16:16] JamesBauman commented on #12
Items 2 and 3 appear to be complete. They will be complete after there the next PR is complete.
We have generic CONTRIBUTING content that needs to be updated...

[2018-10-15 14:04] #1 closed

[2018-10-16 20:15] ghost opened #15 "Need update for rolling logging"
log4js config will need to be updated to enable rolling logs.

[2018-11-12 21:28] hogstrom opened #17 "URL for Zower CLI on Zowe Extension page causes a 404"
I was configuring the Zowe Extension in references a URL that cannot be found.

https://zowe.github.io/docs-site/user-guide/cli-installcli.html#creating-a-zowe-cli-profile . should refer to
https://zowe.github.io/docs-site/latest/user-guide/cli-installcli.html#creating-a-zowe-cli-profile

Ideally, it should point to a versioned portion of the documentation in this cases 2.0.0

[2018-11-12 21:40] AHumanFromCA commented on #17
@BrandonJenkins14 shouldn't this be opened on the docs repo? I think we can just transfer the issue if we have someone who is an admin of both repos.

[2018-11-13 14:11] BrandonJenkins14 commented on #17
@AHumanFromCA yes this issue should be transferred to zowe/docs-site. @MarkAckert, can you transfer the issue? Or shall I recreate it manually?

[2018-11-13 14:20] MarkAckert commented on #17
This issue was moved to zowe/docs-site#235

[2018-11-13 14:20] #17 closed

[2018-11-13 17:55] AHumanFromCA opened #18 "Extension code needs more verbose documentation"
Most of the extension code is lacking sufficient documentation to bring someone new to the project up to speed. We need to take a look at the code and structures used and add some more verbose code comments to help document some of the decisions made.

[2018-11-27 19:24] auchenberg opened #20 "Your VS Code extension is affected by a security issue and have been blocked"
Hi,

Kenneth here from the VS Code team.

Your extension is affected by https://code.visualstudio.com/blogs/2018/11/26/event-stream, and we have blocked your extension.

In order to enable your extension again the workflow is:

1) [x] Fix the extension, submit an update to the marketplace
2) [x] Send mail to VSMarketplace@microsoft.com and kennau@microsoft.com and notify us.
3) We will verify that

[2018-11-27 22:54] AHumanFromCA commented on #20
Thanks for letting us know, we will try to get a fix out for this when possible.

[2018-11-29 13:46] ChrisBoehmCA commented on #20
The vulnerability has been resolved and the block has been removed

[2018-11-29 13:46] #20 closed

[2018-11-29 15:43] MikeBauerCA opened #21 "Interacting with services through APIML"
When I attempt to interact with z/OSMF through the API Mediation Layer from the Zowe VSCode Extension (e.g. list data sets), I receive the following error message:

Retrieving response from zowe.List Error: z/OSMF REST API Error: Rest API failure with HTTP(S) status 404 messages: - messageType: ERROR messageNumber: MFS0103 messageContent: The endpoint you were looking for '/zosmf/restfiles/ds' cou

[2019-01-23 18:23] ehrocha opened #22 "VS Code on RedHat fails to load profile"
Hi , I have added my zowe/bright profile and can do all sorts of things (listing DS, issuing commands etc) from the command line but when I try to add the profile to VSCODE it says :
Must have user & password OR base64 encoded credentials.

Any Ideas on how I can go about to test this ?

If I go see the zowe plugin logs I see:
imperative.log=========================================================

[2019-01-28 18:44] MikeBauerCA commented on #22
@ChrisBoehmCA, are you aware of any recent changes that may have impacted this?

[2019-01-28 19:11] ChrisBoehmCA commented on #22
Mike you're probably right.  I'll look into fixing this if I can. Sorry for the issue

[2019-01-28 19:49] ChrisBoehmCA commented on #22
@ehrocha  Could you please try installing 0.8.3 of the extension and see if that solves your issue? Just published.

[2019-01-29 14:07] gcartier94 commented on #22
I'm having this issue with version 0.8.3, but version 0.8.1 seems to be okay.

My OS is RHEL 7.5
My Zowe CLI version is 2.0

[2019-01-29 14:11] ChrisBoehmCA commented on #22
@gcartier94 Hi, sorry you're having the issue. Could you update your Zowe CLI to the latest version (`npm i -g @brightside/core` if you're using the online registry installation method), and then for each profile you want to use with the CLI or VS Code extension, issue a command like this:

`zowe profiles update zosmf profilenamehere --password yourpassword`

This should hopefully resolve the issu

[2019-01-29 15:17] gcartier94 commented on #22
@ChrisBoehmCA ,

That worked, thanks!

[2019-01-31 12:26] kubasobek opened #24 "Extension not compatible with plugins that override CredentialManager"
When plugin which overrides CredentialManager is installed, profiles cannot be retrieved.  Used API gets securely stored fields from profiles as plain text.

Note form @AHumanFromCA on possible fix:
You will need to initialize the PluginManagementFacility to load the plugins and then you will need to pass some of the configuration variables into the OverridesLoader. There isn't a clean way to do t

[2019-01-31 12:33] kubasobek opened #25 "Incorrect path for profiles in submit JCL function"
submitJCL function uses old location of profiles ".brightside" instead of ".zowe".

extension.ts:115
`profileRootDirectory: path.join(os.homedir(), ".brightside", "profiles"),`

[2019-02-13 15:11] jgomezle opened #26 "Problems with local name of files."
When attempting to run a shell task, the following error occurs due to the profile name in square brackets:

Line: 1 Char: 114
+ ... -extension-for-zowe-0.8.3\resources\temp\SIS.JGL.FTES(HELLOW)[zoszdt]
+                                                                   ~
Array  index expression is missing or not valid
    + CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordExc

[2019-02-25 17:00] #22 closed

[2019-02-25 17:02] ChrisBoehmCA commented on #26
Hi,

Can you explain a little more about when you encounter this error? Do you get this in your terminal, or in a VS Code pop up error? if It's in your terminal, does surrounding the filename with quotes help?

[2019-02-25 18:17] jgomezle commented on #26
This error appears in the Visual Studio Code terminal window when I try to run a test task, defined in tasks.json as follows:
    "tasks": [
        {
            "label": "pruebas",
            "type": "shell",
            "command": "type",
            "args": [
                "${file}"
            ],
            "presentation": {
                "clear": true,
                "reveal": "never"

[2019-02-25 18:27] ChrisBoehmCA commented on #26
I'm not that familiar with creating tasks. Is it possible for you to try surrounding the file argument with quotes like `"\"${file}\""` or will that break your task?

[2019-02-26 17:17] jgomezle commented on #26
No, it is not possible to add quotes. It does not recognize it as a filename.
It clearly seems an incompatibility of the nomenclature with Powershell.
Fortunately I have found out that I can use "process" instead of "shell" with the right changes and then it works.

[2019-03-14 20:17] crshnburn commented on #21
Just tried this with version 0.8.3 and it works as expected. It would be worth making sure that you have the latest version installed as the extension has to use it's own bundled version of the CLI code rather than the version installed on the machine.

[2019-03-15 00:12] MikeBauerCA commented on #21
Awesome, it does work! Thanks

[2019-03-15 00:12] #21 closed

[2019-03-15 14:26] #25 closed

[2019-03-29 17:11] #3 closed

[2019-04-01 10:28] Colin-Stone opened #32 "Merge with original VSCode extension"
@Colin-Stone commented on [Mon Apr 01 2019](https://github.com/zowe/vscode-uss-extension-for-zowe/issues/7)

Keep all of the Zowe VSCode extensions as one extension

---

@Colin-Stone commented on [Mon Apr 01 2019](https://github.com/zowe/vscode-uss-extension-for-zowe/issues/7#issuecomment-478523982)

Consider creating a joined up taxonomy structured as follows:
[code]

[2019-04-01 10:28] Colin-Stone opened #33 "VSCode extension: Merge USS extension with original"
@Colin-Stone commented on [Mon Apr 01 2019](https://github.com/zowe/vscode-uss-extension-for-zowe/issues/7)

Keep all of the Zowe VSCode extensions as one extension

---

@Colin-Stone commented on [Mon Apr 01 2019](https://github.com/zowe/vscode-uss-extension-for-zowe/issues/7#issuecomment-478523982)

Consider creating a joined up taxonomy structured as follows:
[code]

[2019-04-08 12:49] Colin-Stone commented on #33
Counter argument against the above layout came in asking that we retain the separation as it is not usual that a customer uses the features at the same time and the views would become very cluttered with elements not needed all of time. So the proposal is for this.
![Screenshot 2019-04-08 at 13 17 49](https://user-images.githubusercontent.com/30794003/55724975-7c1aa200-5a04-11e9-9b5a-8ceb616d88f6.

[2019-04-08 13:12] Colin-Stone commented on #32
Counter argument against the above layout came in asking that we retain the separation as it is not usual that a customer uses the features at the same time and the views would become very cluttered with elements not needed all of time. So the proposal is for this.
![Screenshot 2019-04-08 at 13 17 49](https://user-images.githubusercontent.com/30794003/55724975-7c1aa200-5a04-11e9-9b5a-8ceb616d88f6.

[2019-04-08 13:17] Colin-Stone opened #34 "Create a validation build for the VSCode extension"
Need a step that rebuilds and validates the extension for every new version of Zowe CLI

[2019-04-08 13:19] Colin-Stone opened #35 "Complete Documentation and publish to VSCode extension marketplace"

[2019-04-08 13:26] Colin-Stone opened #36 "Missing USS functionality"
The USS extension requires menu options for Create, Delete and Rename

[2019-04-08 13:27] Colin-Stone opened #37 "Introduce Favorites functionality to USS extension"
Favorites is a useful facility in USS

[2019-04-11 20:37] phaumer opened #38 "USS file names should not end with the profile name"
When loading a file in USS it gets open as a file with the name such as
`/Users/user/resources/temp/profile/u/hlq/projects/COBOL/SAMPLE.cbl[profile]`

This is a problem for the editor recognizing the filetype, e.g. it being a COBOL file as it does not end with a proper file extension. The file name needs to end with .cbl and nothing else.

[2019-04-11 20:38] phaumer commented on #32
Created issue: https://github.com/zowe/vscode-extension-for-zowe/issues/38

[2019-04-12 07:09] Colin-Stone commented on #38
I think this the hlq is the profile reference and is used to identify what profile this files stored on local is associated with when performing an upload. When we address this we will need an alternative technique to associate with the profile.

[2019-04-12 07:26] Colin-Stone commented on #36
For reference the API's already exist for create and delete and are:
zowe.Create.uss, zowe Delete.ussFile

Other zosmf utility functions such as move and copy files are not available in the CLI so Copy/Rename functionality would not be available until added in the core

[2019-04-15 14:12] Colin-Stone commented on #38
Reworked the profile information on USS files so it is included earlier in the local file structure

[2019-04-15 14:12] #38 closed

[2019-04-15 14:42] ChrisBoehmCA opened #39 "Retrieve data set attributes one by one rather than all at once"
This is a suggestion for a potential enhancement by a user.  Currently, when the user enters a data set pattern, we immediately list data sets and request data set attributes (the same REST request as done by the command `zowe files ls ds "my.data.set" --attributes`).

In order to mitigate errors encountered when listing data sets that are migrated or tracked by software such as Panvalet, we could

[2019-04-16 14:13] ChrisBoehmCA opened #42 "Expect Error: Specify the USS file name when editing non USS file"
When editing a non data set or USS file with the extension installed, the above error message displays.  Introduced in 0.10.1

[2019-04-16 14:41] #42 closed

[2019-04-16 15:51] MikeBauerCA opened #44 "Add Sample Use Cases for USS Functionality to the README"
Sample use cases for USS functionality should be added to the README so that folks can easily learn how to make use of related features.

[2019-04-17 09:14] Colin-Stone opened #45 ""Expect Error: Required object must be defined" error on Save file"
Some users have noticed a failure during Save operations in USS and Datasets. The issue is in some cases intermittent and has been reported on Windows platform only so far. Need to add more information to this issue when it becomes available.

The "Expect Error: Required object must be defined" error relates to a parameter of the save function being undefined.

[2019-04-17 11:25] Colin-Stone commented on #45
Use path.sep instead of /

[2019-04-18 12:38] Colin-Stone commented on #45
Fixed in release 0.10.3

[2019-04-18 12:38] #45 closed

[2019-04-18 15:50] Colin-Stone opened #48 "VSCode extension: Merge Jobs extension with original"
This is the item to include the Jobs extension into VSCode

[2019-04-18 15:53] Colin-Stone opened #49 "Provide a refresh option for USS files"
if you view a file on USS, then update it on z/OS (eg. its a log file and is constantly being updated by a server), then close and view the file again in VSC it shows a cached old copy.

Refresh could be performed by clicking on the item again or a dropdown menu item.

Customer contact: Mark Cocker IBM

[2019-04-18 16:24] Colin-Stone opened #50 "Use USS local file structure for datasets"
To avoid the unsightly THEFILE[mypofile] on the editor tab, remove the square bracket profile and add the profile name further up the local file directory structure

[2019-04-18 16:26] #35 closed

[2019-04-18 16:30] Colin-Stone commented on #26
Will be addressed by https://github.com/zowe/vscode-extension-for-zowe/issues/50

[2019-04-23 10:46] Colin-Stone commented on #50
Completed as part of VSCode merge

[2019-04-23 10:46] #50 closed

[2019-04-23 11:21] #33 closed

[2019-04-23 12:47] Colin-Stone opened #54 "Unit tests appears broken"
Since adding the additional debug logs some of the unit tests are failing. Mock the appropriate missing function

[2019-04-23 17:24] ChrisBoehmCA opened #56 "When adding a new profile for USS, Data sets are referenced instead"
![image](https://user-images.githubusercontent.com/42545737/56602256-0c431480-65cb-11e9-9cb7-0489aef2e9fd.png)

[2019-04-24 14:08] #54 closed

[2019-04-24 14:08] #36 closed

[2019-04-25 13:17] markcocker opened #57 "USS files are downloaded without taking into account the file encoding tag extended attribute in zFS"
I have a file that is encoded and tagged as ISO8859-1 (ASCII), eg notice the `t ISO8859-1` and `T=on`:

[code]
When I use the Zowe extension for Visual Studio Code to edit this file it is not shown correctly:
![image](https://user-images.githubusercontent.com/15351000/56738489-a5f1f980-6764-11e9-857b-e456c2d5e461.png).

[2019-04-25 14:28] markcocker commented on #57
I also tried clicking on "UTF-8" at the bottom right of the VSC window then selecting "Reopen with Encoding", but the IBM z/OS EBCDIC codepages such as 1047 are not show.

[2019-04-25 15:27] Colin-Stone commented on #57
I looked into the codepages and it doesn't look as if that will get addressed in the near future. What we can do is "chtag" the file when you do a get or save. If the file is indicated as binary or has the ISO8859- encoding we treat as a binary. I suggest we only do this if the options being passed into the get or save are not set one way or the other

[2019-04-25 16:19] markcocker commented on #57
Note UTF-8 is also a common encoding.

[2019-04-26 08:30] Colin-Stone commented on #57
What does that look like from a chtag perspective?.

[2019-04-26 08:45] markcocker commented on #57
[code]

[2019-04-26 09:27] Colin-Stone commented on #57
Thanks Mark. I hadn't seen this before. I believe anything starting "UTF-" or "ISO8859-" should be treated as binary

[2019-04-26 13:34] Colin-Stone commented on #57
Some clarification about what is happening with the zosmf calls that underpin the get and put. zosmf has two dumb switches.

- Text = convert between EBCIDC and ASCII
- Binary = dont convert.

I describe the switches as dumb because no logic is applied to discern the codepage even to the point that the chtag values are ignored.

My solution for now is to test for UTF-8, ISO8859- or IBM-850 and if

[2019-04-26 15:50] Colin-Stone commented on #57
I think we should still address this in the same way as we did for z/OS Explorer and the USS Explorer API in Zowe by checking what tagging is associated if any. That way users wont have to use the toggle to binary button as frequently. It would also serve by way of an indicator that would highlight if a file was EBCDIC for example with a little 'E' decorator

[2019-04-26 17:01] #44 closed

[2019-04-29 12:42] Colin-Stone opened #61 "Include Jobs, USS and Datasets in same VSCode view container"
The final item in the merging of USS, datasets and jobs involves putting the views in the same container. Thanks again to Andy @crshnburn for providing the relevant code snippet
[code]
which provides us with a result like this... Thumbs up to go for it..
<img width="365" alt="Screenshot 2019-04-29 at 13 41 50" src="https://user-images.githubusercontent.com/30794003/56896778-a0f2ba00-6a84-11e9-96d5

[2019-04-30 06:58] t-o-m-e-k opened #62 "z/OS Jobs part of the extension is missing Zowe: "Add profile" action"
Currently z/OS jobs extension is working only with the default profile. Changing profile requires setting new default profile and restarting VS Code.

Data sets and USS part of the extension allow to add another profile. It would be nice to have same functionality when working with Jobs.

I have also noticed that icons for "Zowe: Add profile" action are inconsistent. For "Data Sets"  it's plus sig

[2019-04-30 10:59] Colin-Stone commented on #62
Thanks for spotting this and sorry we dropped the ball or the graphic images to be exact. The USS ellipses is a relatively quick fix, so expect a new version sometime today. You will notice we are continuing to consolidate the views into one container and still have some work to do. What would be your opinion if the Datasets/USS/Jobs views were combined under one view?. In effect making the profil

[2019-04-30 15:46] Colin-Stone commented on #61
Single view

[2019-04-30 15:46] #61 closed

[2019-04-30 15:47] Colin-Stone commented on #62
Fixed as part of single view container. Version 0.14.0

[2019-04-30 15:47] #62 closed

[2019-04-30 15:52] Colin-Stone commented on #57
Dependent upon https://github.com/zowe/zowe-cli/issues/362

[2019-05-01 07:46] Colin-Stone opened #65 "Spool files to be part of Jobs tree"
Would it be better if we have the spool file elements for a job as twisties off the jobname in the jobs view?. Could then remove the spool files view completely

[2019-05-01 08:27] markcocker commented on #65
This would also mean you could expand more than one jobname to look at their "spool files".

Is the Bin icon a brighter shade of white compared to the other icons deliberately?

For consistency with DATA SETS and UNIX SYSTEM SYSTEMS (USS) sections, could menu options "Set Job Prefix" and "Set Owner" be part of a "search" hour glass?

[2019-05-01 08:36] Colin-Stone commented on #65
Thanks Mark. The expansion of more than one job is one of the motivating factors. The bin icon may be the wrong luminance for the theme so I will look at that and try and make the icons more consistent. Did you mean search magnifying glass by the way?.

[2019-05-01 08:48] markcocker commented on #65
Yes :-)

My reference point is the RSE support in Eclipse, where "z/OS UNIX Files", "MVS Files"  and "JES" have  all provide named filters, including defaults such as "My Jobs", "My Data Sets" and "My Home".

[2019-05-01 14:11] tucker01 opened #66 "Jobs tree profile refresh not working"
In 0.14.0, The refresh button on the profile in the jobs tree does not seem to refresh the list after a job is deleted. The refresh button on the Jobs tree itself does the trick.

[2019-05-01 21:23] crshnburn commented on #65
To support the use case of multiple jobs I think it would make sense to condense things into a single view.

I can also see how a Favourites section for the jobs view could be a combination of owner and prefix to add extra consistency with the datasets view.

[2019-05-02 08:44] t-o-m-e-k commented on #62
I like the idea of having all ZOWE related views in one container, as well as having the profile as a root.

Have you considered an option of making job prefix and owner information visible?
Similar to "SET DISPLAY" in SDSF.  I have it always turned on. It's much easier to correct any typos in my selection criteria.
Maybe a text box for each filter?

[2019-05-03 07:16] t-o-m-e-k opened #68 "Jobs tree has no "remove profile" action"
JOBS tree there is missing "Remove profile" action. Right clicking on the profile allows only to set prefix and owner.

I've also noticed for USS when right clicking on profile it allows "delete" action, which should probably be restricted to unix files.

[2019-05-06 17:08] #48 closed

[2019-05-07 07:19] #32 closed

[2019-05-07 07:22] Colin-Stone opened #70 "VSCode exploitation of new API for Add function for checking USS file tagging#362"
Add function for checking USS file tagging#362

[2019-05-08 15:42] markcocker opened #72 "Prompt when adding profile to USS refer to Data Set Explorer"
Clicking on the + sign to the right of "UNIX SYSTEM SERVICES (USS)" results in the prompt"Select a Profile to Add to the Data Set Explorer".

This should instead refer to UNIX SYSTEM SERVICES (USS).

By comparison clicking on + next to JOBS results in prompt "Select a Profile to Add to the Jobs Explorer".

[2019-05-08 15:43] ChrisBoehmCA commented on #72
Hi thanks for the issue but this is a duplicate of #56

[2019-05-08 16:11] ChrisBoehmCA commented on #56
closing in favor of #72

[2019-05-08 16:11] #56 closed

[2019-05-08 16:13] #68 closed

[2019-05-08 16:13] #72 closed

[2019-05-08 16:37] ChrisBoehmCA commented on #72
Thanks, fixed in 0.15.1

[2019-05-08 18:57] ChrisBoehmCA opened #73 "Display data set attributes"
It would be a cool enhancement to be able to right click a data set in the data set explorer and show a popup or another mechanism to display attributes such as volume, size etc. of the data set

[2019-05-08 19:14] ChrisBoehmCA commented on #73
![image](https://user-images.githubusercontent.com/42545737/57401154-08a2b680-71a3-11e9-9a7b-0fbbf4e1e6cd.png)

Possible ways to display data set attributes:
a) In a blank text editor like the current spool file view:
![image](https://user-images.githubusercontent.com/42545737/57401210-27a14880-71a3-11e9-9275-703b7fb229c5.png)

b) In an informational message in the lower right corner (drawback: no

[2019-05-08 19:42] ChrisBoehmCA opened #74 "Bundle VSCode extension with webpack"
Microsoft recommends bundling VSCode extensions before publishing

https://code.visualstudio.com/api/working-with-extensions/bundling-extension

[2019-05-08 20:04] crshnburn commented on #73
I think that a) is the better option, especially as a user can then copy/paste information about the dataset into other places, or save it away for future reference.

A further enhancement to this could be to allocate a new dataset based on the settings of an existing one.

[2019-05-09 06:08] Colin-Stone commented on #73
My plan was to have a consistent way of displaying attributes that would work for both USS and datasets and if appropriate jobs. In the case of USS we need to display and potentially make editable the chown, chmod, chtag function/values.

I had initially planned to use an explorer view (bottom left) replacing the current spool view which would reflect the attributes for the current selection in th

[2019-05-09 06:09] Colin-Stone commented on #73
The allocate like function is easier than allocate from scratch. It's something we had in the original Atlas UI's so thumbs up to that.

[2019-05-09 06:22] Colin-Stone opened #75 "Merging of trees into single tree structure"
To make a more complete user experience the three views for USS, Datasets and Jobs can be merged into a single explorer view allowing all z/OS aspects to be viewed together and support more advanced functionality across the different trees.

The main difference is that the root will be the z/OS connection or zowe profile rather than a single specific view and has expandable elements for the differ

[2019-05-09 06:40] Colin-Stone commented on #75
Within the main explorer view we can have the following object types with functions.. This is not a complete list of functionality, just what is needed for maintaining the tree elements

Root Object = the view top bar	(Actions: Add profile, New profile)
|
|-----	Profile Object (e.g. my_zosmf_profile) (Actions: Remove profile)
|
|-----------	Favorites Root folder [Fixed Folder ]
|		|-----	Favorites

[2019-05-09 06:51] Colin-Stone commented on #74
Should we link with https://github.com/zowe/vscode-extension-for-zowe/issues/34

[2019-05-09 13:43] ChrisBoehmCA opened #76 "Saving data sets and files begins to silently fail"
This seems to happen to various users. We know a workaround for now that seems to resolve the problem, but don't know the root cause.

If you uninstall the extension, then go to your home directory (usually c:/users/youruserid on windows, ~ on linux/mac) /.vscode/extensions/ and delete the folders starting with "zowe". If you then reinstall the extension, the saving issue should be fixed.

[2019-05-09 15:06] Alexandru-Dumitru commented on #76
Had hit the same issue today, and this saved me, as I am preparing some presentation for tomorrow. Thanks for sharing :)

[2019-05-09 15:32] Alexandru-Dumitru opened #77 "download all spool files directly from Job Tree View"
Would be nice to be able to download spool files from the Job Tree View directly.
I would expect to right-click the job entry, and have the option to download all files on my local machine, so that I don't have to go file by file and hit `ctrl+s` to save them.

We already have API for this and it is used in `zowe jobs download`.

[2019-05-10 10:28] Colin-Stone opened #80 "Not enough Jobs and spool testing"
zosjobs and zosspool unit testing is below the 80% required level.
<img width="507" alt="Screenshot 2019-05-10 at 11 26 50" src="https://user-images.githubusercontent.com/30794003/57520837-994dd380-7316-11e9-86d0-636f79fedb23.png">

Please provide integration tests also

[2019-05-10 10:30] Colin-Stone commented on #80
Blocks https://github.com/zowe/vscode-extension-for-zowe/issues/11

[2019-05-10 12:47] t-o-m-e-k commented on #76
In my case, the problem is back as soon as VSCode is restarted. I have tried different things and found that deleting the local files is not necessary, not even reinstallation, it was enough to disable and re-enable the extension to make it work again.

[2019-05-10 12:57] vvvlc commented on #76
Diseabling and Enabling extansion does not help, `ctrl+s` or `Safe save` button does not save changes to mainframe.
`ctrl+s` does not add new messages to `zowe.log`
`Safe save` adds these messages to `zowe.log`
[code]

[2019-05-10 13:12] t-o-m-e-k commented on #76
It works every time for me. Have you clicked on "reload required" after disabling?
I forgot to mention it.

It's :  Disable /  Reload Required  / Enable

[2019-05-10 13:16] vvvlc commented on #76
I restarted VScode and deleted content of .vscode/.zowexxxx  and it did not
help as well.
What version of extension do you use?

pá 10. 5. 2019 v 15:12 odesílatel Tomasz Tulinski <notifications@github.com>
napsal:

--
V.

[2019-05-10 13:23] t-o-m-e-k commented on #76
I was doing same things before. Even deleting .vscode and .zowe directories and reinstalling both zowe and vscode. None of it was working until I tried reinstalling the extension or going with disable/enable.

I'm using extension version 0.15.1 and zowe cli 2.22.0

[2019-05-10 13:32] ChrisBoehmCA commented on #76
Guys, really sorry you're experiencing this issue. I will try to add logging that might help diagnose what's happening. Really sorry for the inconvenience. Hopefully we will figure out what is causing this soon

[2019-05-10 16:50] tucker01 opened #81 "Add ability to obtain the raw JCL from a job on spool."
The z/OSMF REST API set seems to support getting the raw input JCL:

[code]

Some of the spool viewer products on z/OS allow you to get the raw JCL from a previously submitted job. They usually open it in an ISPF edit session, where you can then adjust and re-submit easily. This functionality would be useful in the zowe extension.

[2019-05-10 17:27] dkelosky commented on #81
There's a [Zowe CLI API](https://github.com/zowe/zowe-cli/blob/master/packages/zosjobs/src/api/GetJobs.ts#L273) for that!

[2019-05-10 18:09] tucker01 commented on #81
Nice, we thought this might be a bit more involved if we had to update zowe first. This should be pretty straightforward then. 👍

[2019-05-15 13:51] tucker01 opened #82 "Esc a dialog/select box should cancel the action"
I believe this occurs throughout the extension in different forms, however for example, if you choose the "+" button to add a new profile to the JOBS tree and you hit escape (closes the selection list), you'll get a duplicate entry for your default profile.

[2019-05-15 15:11] ChrisBoehmCA commented on #82
Thanks for opening. Maybe all we have to do is check whether the input from the quick pick box is undefined and stop/return if so

[2019-05-15 15:44] #77 closed

[2019-05-16 17:41] ChrisBoehmCA commented on #76
I published some additional logging. When you're encountering the issue, check ~/.vscode/extensions/zowe.vscode-extension-for-zowe-xxx(latest version)/logs/zowe.log and see if you can see messages like `File was saved -- determining whether the file is a USS file or Data set.`. If you do, paste the surrounding log messages here or in a pastebin. Might be able to determine what is causing this prob

[2019-05-17 12:14] t-o-m-e-k commented on #76
I've tested it today. Below is the contents of zowe.log with description of my actions in vscode:

Step1: open a PDS member, edit and save with ctrl + s [no chagnes are visible on MF side]

[2019/05/17 13:41:19.814] [DEBUG] [extension.js:875] opening physical sequential data set from label TT9TTU1.COMMON.CNTL(TEST1)
[2019/05/17 13:41:19.817] [DEBUG] [Download.js:75] Endpoint: /zosmf/restfiles/ds/T

[2019-05-17 12:55] ChrisBoehmCA commented on #76
Thanks a lot for the logs. This seems like a big clue:
[code]
Looks like the path returns a lower case c in one case and we're searching for an upper case C. Let me try a fix and see if it works for you guys

[2019-05-17 13:26] vvvlc commented on #76
Hi
this is what I get when I press `ctrl+s`
[code]
this is what I get fore safe save
[code]
in both cases nothing gets saved.

[2019-05-17 13:28] ChrisBoehmCA commented on #76
Thanks for the logs, Vitek. You have the same behavior as Tomek where it seems like the path doesn't match case sensitively (`c:/` vs `C:/`). Hopefully #83 will fix this for you. I intend to publish today

[2019-05-17 13:52] ChrisBoehmCA commented on #76
Vitek and Tomek, please try updating your version of the extension and see if the issue is resolved for you

[2019-05-17 14:02] vvvlc commented on #76
It works for me. for sake of completenss here is my log
[code]

[2019-05-17 14:54] t-o-m-e-k commented on #76
Works for me as well. Thank you!

[2019-05-17 14:54] ChrisBoehmCA commented on #76
Yay! I'm glad. Closing this issue now then.

[2019-05-17 14:54] #76 closed

[2019-05-17 16:37] ChrisBoehmCA commented on #73
Implemented in #78

[2019-05-17 16:37] #73 closed

[2019-05-21 09:08] crshnburn commented on #80
Working on some tests for the Jobs and Spool areas of the extension

[2019-05-22 17:47] paigeibm commented on #12
FYI - There's no information or pointers about installing Brightside core in the developer docs.

[2019-05-23 13:55] JamesBauman commented on #12
@BrandonJenkins14 - Do we need to (or should we) open and issue in the docs-site repo?  IF we open an issue here, it might get lost in all the locations where we track issues,

[2019-05-23 14:01] phaumer opened #86 "Uploading local files"
Currently the MVS and USS views allow creating new files and editing them, but if the user has created files locally and wants to upload them either data set members or uss files I do not see a way of doing that.

Drag and drop could be one solution, but is a challenge as the Zowe activity group is now separated from the Explorer one. We could do drag and drop with editor tabs, but that is a bit a

[2019-05-23 15:15] BrandonJenkins14 commented on #12
Most everything related to VSCode plug-in should probably just be documented within this repository, especially information about maintaining/contributing to the plug-in. Also, a reason not to move the readme.md content about installing or using the plug-in is that this readme is displayed automatically on the Visual Studio Code Marketplace.

We mention the existence of this under "Zowe Plug-ins a

[2019-05-24 13:14] tjohnsonBCM commented on #10
Tests are passing on master branch now

[2019-05-24 13:14] #10 closed

[2019-05-24 13:58] #80 closed

[2019-05-24 14:12] #82 closed

[2019-05-24 20:13] kristinochka opened #90 "Add support for localization"
As an extension user I would like to see the plugin in my local language.

My team is interested in exploring this item.

[2019-05-28 17:18] lauren-li commented on #86
@adambattenburg and I have begun working on this item. We are starting with upload to the MVS.

[2019-05-28 20:10] markcocker commented on #86
Note that `zowe zos-files upload dir-to-uss` provides the `--attributes` option that controls file transfer encoding, exclusion, and tagging.

   to upload, or its location can be specified by using the --attributes parameter.
   .zosattributes files that are placed in nested directories are ignored.

It would be nice if this issue could use the `.zosattributes` file if it is in the root of the so

[2019-05-30 06:02] crshnburn commented on #66
PR #88 contains a fix for this.

[2019-05-30 12:07] #81 closed

[2019-05-30 16:17] jelaplan opened #93 "Job Tree - Refresh Icon Tooltip"
Issue #66 pointed out that one of the refresh buttons wasn't working. When I look at the window, I see two refresh buttons. The top one seems to be a refresh all and the bttom is for that LPAR. I recommend we change the tooltip on the top one from 'refresh' to 'refresh all'

<img width="329" alt="image" src="https://user-images.githubusercontent.com/3207260/58646227-f4019c00-82d2-11e9-8574-9247cb2

[2019-05-30 19:15] ChrisBoehmCA opened #94 ""Submit JCL" not available on physical sequential data sets"
It would be nice to be able to submit jcl contained in physical sequential data sets

[2019-05-31 10:33] #94 closed

[2019-05-31 12:45] tucker01 opened #96 "Deleting a data set in use"
When using the "Delete PDS" option from the "DATA SETS" explorer, if the data-set is in use, the delete silently fails. No error is presented.

From the CLI I see:
[code]

[2019-05-31 19:51] adambattenburg opened #97 "Setting for temporary "Resources" folder location"
Currently when remote files are being edited, they are downloaded to a temporary `resources` folder within the extension root. These files are inaccessible outside of the extension, and limit what can be built on top of the `zowe-vscode` extension.

I’d like to propose this folder location be configurable in user settings, so that other extensions can make use of it. Alternatively, temporary `reso

[2019-06-02 08:15] Colin-Stone opened #98 "Overhaul VSCode testing process"
Rethink the testing strategy should be for VSCode

[2019-06-02 08:16] Colin-Stone opened #99 "Overhaul testing"
Epic to contain all current test issues and concerns

[2019-06-02 08:25] Colin-Stone commented on #13
Include requirements from https://github.com/zowe/vscode-extension-for-zowe/issues/34

[2019-06-03 15:27] zFernand0 opened #100 "CHANGELOG indentation"
It may seem silly, but the Changelog display on VSCode indents headers that are not doble spaced. Maybe we could Indent patch versions under Minor enhancements?

![image](https://user-images.githubusercontent.com/37381190/58813751-65eb2580-85f2-11e9-9739-ffdece9ab23e.png)

[code]

[2019-06-04 10:29] markcocker opened #102 "Add ability to filter by jobid"
When using the JOBS view provided by the Zowe extension for VSC, it would be useful to be able to filter by jobid. For example `zowe zos-jobs list jobs` returns a list of jobids so it would be useful to copy a jobid from that list and find it quickly using the extension.

[2019-06-05 13:23] #100 closed

[2019-06-06 13:08] kristinochka commented on #90
My team is looking at how to localize the plugin.

[2019-06-06 13:32] #37 closed

[2019-06-06 14:07] dkelosky commented on #102
Perhaps the default view should show the job id by default in place of the job name.

When you submit a job, you're presented the jobid although you view it by jobname:
![image](https://user-images.githubusercontent.com/14940561/59039296-8f9a8b80-8842-11e9-8bd0-5d3751518194.png)

Maybe the presentation of the jobs could be similar to z/OS explorer jobs view?

[2019-06-06 14:19] MikeBauerCA commented on #102
It would be beneficial to be able to see both the job name and the job id, especially in cases where you submit the same job multiple times.

[2019-06-07 10:59] Colin-Stone opened #105 "Store local version of dataset with a suffix if appropriate to enable syntax highlighting"
Since the server files are downloaded to a local folder the path for which contains additional information about the download, the filename can be further modified to include a suffix that represents a file type. In turn this will integrate with an appropriate syntax highlighter.

The following are examples of how a potential suffix can be identified
[code]

At the same time remove the square brac

[2019-06-07 11:04] Colin-Stone commented on #75
Need to breakdown further

[2019-06-07 15:46] crshnburn commented on #102
@MikeBauerCA You can see the Job Id if you hover on a particular job

![JobIdHover](https://user-images.githubusercontent.com/860280/59116512-9e1c9c00-8943-11e9-90c9-bdb7a91210d1.png)

The aim with showing either the RC or the ACTIVE status was that if the same job had been submitted multiple times then the latest one would be easy to find.

[2019-06-10 07:55] Colin-Stone commented on #24
@ChrisBoehmCA Was there a plan for this one?.

[2019-06-10 08:09] Colin-Stone opened #106 "Multiple root nodes off profile"
## Problem

Users have requested the ability to have multiple "start points" in explorer style views that display host files. For example they want to see the members of dataset "PROD1.CNTL.*" and "MYHLQ.CNTL.*". We can currently do this by specifying a comma separated filter but we don't explicitly indicate this combination criteria in the view or have any logical separation between the results s

[2019-06-10 08:12] Colin-Stone commented on #66
@tucker01 has Andy's fix addressed this issue?

[2019-06-10 12:52] ChrisBoehmCA commented on #24
It should be working now. I think we can close this

[2019-06-10 12:59] #24 closed

[2019-06-10 14:33] tjohnsonBCM opened #107 "Investigate performance impact on VS Code startup"
I have noticed that when the Zowe extension is enabled, other panels in the sidebar (particularly Source Control) take significantly longer to load. To verify this, I launched VS Code several times first with the extension disabled, and then several times with it enabled, and measured the time after clicking on "Source Control" in the sidebar until it loaded (meaning it no longer showed the "No so

[2019-06-11 20:38] kristinochka commented on #86
I'm currently working on this issue.

[2019-06-11 22:59] adambattenburg commented on #97
As an update, I'm now starting work on this, and will have a PR soon. @Colin-Stone you can assign me the issue if you like.

[2019-06-12 14:09] zFernand0 commented on #86
If possible, could you assign yourself to the issue too?
I believe we can have more than one person assigned to an issue :)

[2019-06-12 14:15] kristinochka commented on #86
@zFernand0 I don't have permission to change anything on this issue.
![image](https://user-images.githubusercontent.com/14590297/59358633-e8629c00-8cfa-11e9-86de-93dda4acdf02.png)

[2019-06-12 14:24] zFernand0 commented on #86
@kristinochka, Thanks for letting me know. I believe we need to add your team to have write access to the VSCode repo.
Can you check if you are part of any [Teams on the Zowe](https://github.com/orgs/zowe/teams) organization?
If you don't belong to any team, we may want to create a team for you 😄

[2019-06-12 14:42] kristinochka commented on #86
@zFernand0 I'm not a member of any teams.

[2019-06-12 14:46] zFernand0 commented on #86
we will create a VSCE team. I just need confirmation :)
Sorry for any inconveniences.

[2019-06-12 15:14] zFernand0 commented on #86
A [VSCode Team](https://github.com/orgs/zowe/teams/vscode-team) has been created.
Feel free to request-to-join or accept the invite if you already got it.

[2019-06-12 18:37] zFernand0 commented on #86
Back to the topic though, I do agree with the use-case here.
Out of curiosity though, what is the Zowe Activity Group?

[2019-06-12 19:41] kristinochka commented on #86
I believe Peter meant that File Explorer and Zowe Plugin view show up in 2 separate views (you can only see one or the other) so you can't easily drag-n-drop.

[2019-06-12 19:44] kristinochka commented on #86
Also, the VSCode Team link takes me to `404 Not Found` page and I have not received any invites.

[2019-06-13 15:45] tucker01 commented on #66
Looks like it. Thanks.

[2019-06-13 15:45] #66 closed

[2019-06-13 15:50] tucker01 opened #111 "Errors when attempting to edit a data-set with ~16k members"
I have a data-set with ~16k members. When attempting to open in the files tree, I get the following error popup:

[code]

[2019-06-13 15:58] tucker01 opened #112 "Cannot open a data-set via the alias"
We use aliases as part of a "versioning" scheme for internal data-sets. However, from the extension, you can list the alias in the tree, but it will not populate the members. Clicking on the data-set alias entry in the tree results in:

[code]

[2019-06-13 18:16] zFernand0 commented on #86
Hey @kristinochka,
Could you try https://github.com/zowe, and click on the `Teams` tab to go to https://github.com/orgs/zowe/teams
From there, you should be able to search for VSCode
![image](https://user-images.githubusercontent.com/37381190/59457001-977ba200-8de5-11e9-810c-755af7a00295.png)

Then Click on the team and go to `Members` in order to `Request to Join`
https://github.com/orgs/zowe/tea

[2019-06-14 06:59] Colin-Stone commented on #107
I think we should look at this as things are likely to get worse as more code is added to the extension. I have been considering getting the extension to persist the last opened trees and automatically connect to them when started. But until we get a handle on why initialization is having such an impact we should hold back

[2019-06-14 07:08] Colin-Stone commented on #111
From the call yesterday it sounded as if this is an issue with the API's available and would need to be addressed by managing the download. @kristinochka Is that correct?.

[2019-06-14 07:41] Colin-Stone commented on #106
Users require flexibility in filtering options for each of the three containers: USS, Datasets and Jobs. Users also require the ability to see multiple combinations of these.

To achieve this we need a new category of tree element: USS file root, Dataset root and Job root. Each of these elements would be associated with a filter operation and resulting output that is unique to that element.

The p

[2019-06-14 08:43] Colin-Stone opened #114 "Spike: Define Menu strategy for VSCode"
Subsequent to @kristinochka investigations into menu layout for VSCode. Can we describe the individual menu layout for the elements of the VSCode extension?.

I quite like the notion of using symbols for tree management. Meaning anything that adds child elements. Alternatively any business operation on the tree items can be part of the drop-down menu

[2019-06-14 09:00] Colin-Stone opened #115 "Spike: Investigate the use of color and graphics in the explorer views"
As more element types are being added to the tree structure we need to consider the best UX experience enabling users to easily distinguish between them.

Potentially work with themes.

[2019-06-17 17:05] Colin-Stone commented on #97
If you swap this folder does the old one get cleared?.

[2019-06-17 17:33] adambattenburg commented on #97
That's how I have it setup for now. Moves the `temp` folder from one location to another.

Still need to make progress getting testings working, but afterward I can submit the PR.

[2019-06-17 17:59] MikeBauerCA opened #118 "Recall recently used searches/filters"
Each time Visual Studio Code is started, the user must enter their filter criteria for data sets, USS files, and jobs. It would be desirable to retain the previously set filters on subsequent startups. It would also be desirable to quickly recall recently used searches/filters.

[2019-06-17 19:27] kristinochka commented on #111
@tucker01 Are you trying to expand a dataset with 16 thousand members and they all fail to load? Can you provide a screenshot or gif?

[2019-06-17 19:29] kristinochka commented on #111
Colin, yes, I think the issue is the API is trying to load them all at once and fails.

[2019-06-17 21:41] kristinochka opened #119 "USS add ability to create folders and files on the root node"
When user adds a filter to view files in USS, they can only create files and folders on the child nodes, not on the very top node.

[2019-06-18 07:03] Colin-Stone commented on #111
Maybe this is an issue that we should raise UX team as it's a problem that requires an API design/enhancement that would benefit all users @jordanCain any thoughts?

[2019-06-18 07:09] Colin-Stone commented on #13
@zFernand0 I reckon this is done unless you had any other enhancements

[2019-06-18 07:12] Colin-Stone commented on #74
@zFernand0 I think this means altering the packaging to incorporate webpack but is this something that we would also need to do some updates to the CI/CD process too?.

[2019-06-18 07:13] Colin-Stone commented on #34
Apart from the webpack item I think this Epic could be closed and the webpack treated as a separate item

[2019-06-18 07:52] Colin-Stone commented on #106
@MarkAckert I've updated the proposal to better describe what the intention is. Even if we decided not to have the multiple root nodes for now I think we still require a single root node under the profile that describes the filter criteria being used. This is also something we would need as and when we get to the single tree structure

[2019-06-18 11:39] zFernand0 commented on #13
Hey @Colin-Stone,
There is something I'd like to add/modify.
I was trying an email approach for the purpose of versioning and changelog entries, however @tjohnsonBCM mentioned that you had a better suggestion for the master pipeline.
`To leave the versioning and changelog to the user, and only publish after merging a PR into master that has a new version number which matches the latest changelog e

[2019-06-18 11:47] Colin-Stone commented on #13
Okay that's much simpler and we can control when we release. Personally I get annoyed when you install an upgrade and it has no real benefits e.g. a typo fix. I would prefer to send it out when we have more to shout about.

[2019-06-18 11:49] zFernand0 commented on #74
Hey @Colin-Stone,
I believe it'd be good if we could incorporate webpacking into the publishing step.

[2019-06-18 12:56] jordanCain commented on #111
@Colin-Stone This is definitely poor UX, I know the zosmf endpoint allows a limit to the number of members to be fetched, it defaults to 1000 so would be interesting to know if that's overwritten or this bug would be present for any dataset with a large number of members not just in the region of 16k.

I don't see anyway to do paging with the get members endpoint in zosmf so even if we restricted

[2019-06-19 06:54] Colin-Stone commented on #119
Consider in the context of https://github.com/zowe/vscode-extension-for-zowe/issues/106

[2019-06-19 06:56] Colin-Stone commented on #8
If this item is picked up please investigate a solution first and propose back to the CLI squad.

[2019-06-19 06:58] Colin-Stone commented on #9
Reduce the size of testcases by increasing the number of tests so they are explicit

[2019-06-19 07:08] Colin-Stone commented on #112
Same issue in https://github.com/zowe/vscode-extension-for-zowe/issues/26 Intention is to correct this as part of https://github.com/zowe/vscode-extension-for-zowe/issues/105

[2019-06-19 08:22] Colin-Stone commented on #98
1. Added in timeout fixes to installation tests

[2019-06-21 09:21] cizji opened #123 "USS File Save Error: Cannot read property 'binary' of undefined"
When I toggle file format to binary VSC does not allow me to save to USS directory. It is necessary for zOSMF workflow files to be treated as binary during transfer so the zOSMF accept them. Maybe Toggle binary is meant for a different usage but so far it looks to me like a bug.
![Capture_toggleBinary](https://user-images.githubusercontent.com/51615351/59912743-f6a96a00-9416-11e9-93b1-5012bd3a9b56

[2019-06-26 06:59] Colin-Stone commented on #119
Good thinking, instead of restructuring the tree with the multiple roots which is still under consideration lets provided this functionality now as it should be a simple implementation. The current "add file", "add directory" works relative to the currently selected location which is fine. So it should just be a case of recognizing that the user has specified the full path i.e. /u/myuser/newDir an

[2019-06-26 15:41] ChrisBoehmCA opened #130 "No view is registered with id: zowe.spool"
![image](https://user-images.githubusercontent.com/42545737/60194305-0eae2e80-9807-11e9-9569-88aff188bded.png)

Since updating to 0.20.0 ( I believe, hadn't opened the extension in a while), I get this error on startup and can't view job spool anywhere anymore

Tried reinstalling but that didn't seem to help

[2019-06-26 22:35] dbaldon commented on #130
I get the same error on 0.21.0. I reverted to 0.19.0 and things worked again. Then I found this in the code which points to the CHANGELOG.md file which contains this;
0.20.0
Combined Spool files with Jobs in Jobs view. Colin Stone

So I installed 0.20. and things work as expected. Release 0.19.0 had the separate spool section and 0.21.0 doesn't present the combined view nor does it have the separa

[2019-06-28 20:17] #119 closed

[2019-07-01 04:37] lauren-li opened #133 "Massive error message when user has no Zowe profile defined"
**Issue Summary:**
When the user starts the Zowe VS Code extension without first defining a Zowe profile, they are greeted with a massive error message:

![image (10)](https://user-images.githubusercontent.com/45975633/60353961-2b7a6b80-9999-11e9-87d0-47b1dee306d9.png)

**Issue Details:**
It looks like the error is already handled in [`ProfileLoader.ts` (Line 62)](https://github.com/zowe/vscode-ex

[2019-07-01 17:39] kristinochka opened #136 "Refactor MVS favorites node naming"
Currently, when MVS favorites section is getting rendered, the node name is profile name + dataset name concatenated together. For example, `[myprofile123]: ZOWE.TEST`
Whenever, we need to get the dataset or member name from the node we use regex or string manipulation to get the name out. This approach is error-prone and assumes the names will be in certain format.

Instead, dataset/member name a

[2019-07-02 16:04] ChrisBoehmCA commented on #133
As long as the stack/error is still logged somewhere to a file or something I don't think there's a problem with removing it from the message. The problem is that there are some other conditions besides not having created a profile (such as other errors accessing the profile directory/ executing the profile loading script) that will cause this same error condition so for debugging purposes the inf

[2019-07-02 16:06] ChrisBoehmCA commented on #130
This is fixed for me on the latest release

[2019-07-02 16:06] #130 closed

[2019-07-02 16:23] lauren-li commented on #133
Thank you for pointing this out, @ChrisBoehmCA! I will keep this in mind while I work on the issue. I was thinking about using the same logger as extension.ts is using. Would you recommend I save the error message in `imperative.log` or `zowe.log` (or somewhere else)?

[2019-07-02 16:24] ChrisBoehmCA commented on #133
Maybe in imperative.log? Up to you. Thanks for taking this on : )

[2019-07-02 17:14] lauren-li commented on #133
Thanks for the recommendation! I will take your suggestion. The message I am currently using is:
![Screen Shot 2019-07-02 at 10 42 26 AM](https://user-images.githubusercontent.com/45975633/60529333-61cf2800-9cc4-11e9-8668-944b6695aa0a.png)

- The blue text is hyperlinked to: https://zowe.github.io/docs-site/latest/user-guide/cli-configuringcli.html#creating-zowe-cli-profiles
- I've changed the "er

[2019-07-02 17:34] zFernand0 commented on #133
My only problem with this message is that if VSCode is simply not able to access the folder in which the profile was created, it might be a bit confusing as a user if I see the same message (telling me to create a profile) even after I had just created one.

[2019-07-02 18:07] lauren-li commented on #133
Thank you for your feedback, @zFernand0! Do you have suggestions for improving the wording for this message? The original error message also didn't seem to cover the scenario you mentioned. Would the likelhood that VS Code is unable to access the profiles folder versus the user not having created a Zowe CLI profile be great enough that we want to add it into the information message?

The reason ou

[2019-07-02 18:08] ChrisBoehmCA commented on #133
It might not happen that the directory is inaccessible that often, but other errors (such as not having `node` installed or having a bad credential management plugin) could cause the same code to fail. Not sure what the best wording of the message is though

[2019-07-02 18:18] lauren-li commented on #133
@ChrisBoehmCA Are the multiple causes for this error documented somewhere? If so, then perhaps we can give the user a simple information message stating the most likely cause of the issue, and then refer them to a link to documentation for other possible causes if they need it.

If not, then I think this information message is still an improvement over the original error message with the stack tra

[2019-07-02 18:21] ChrisBoehmCA commented on #133
No documentation I know of.  It could be anything that causes the node process to fail, including any type of bad Zowe CLI plugin, `node` not being on the path, etc. What you said sounds good to me

[2019-07-03 08:08] #13 closed

[2019-07-03 12:49] adambattenburg opened #140 "Support Multiple Instances"
@Colin-Stone, @zFernand0

## Issue:

When creating a new window, VSCode will clear the temp directory which affects all windows. This makes sense as each window is entirely independent of each other, and will call `deactivate` on startup and closing. Obviously this is not ideal, as all local files being worked with in the original window, are deleted as well.

My recent temp directory PR however,

[2019-07-03 13:47] Colin-Stone commented on #140
That method will work and is better than losing the temp folder when it is still in use. However maybe it would be better to popup a dialog if Windows>1 to tell the user that erasing the temp folder could have serious consequences and that they should close other windows before applying?.

[2019-07-03 14:09] adambattenburg commented on #140
Thanks Colin, I can see this as a good solution as well. We could make the extension not activate on startup up, but instead only when they click the "zowe" tab. This means we could kick users out of the extension each time they try to use multiple zowe instances. Users could still have multiple VSCode windows open, which is what I was more concerned about.

Which solution would you rather? The us

[2019-07-03 14:17] kristinochka opened #141 "Open spool files with a name instead of "Untitled""
Currently, when spool file is opened, it's an "Untitled" file. It makes it difficult to tell what user just clicked. Would like to propose to open spool files with a name and add an option for user to refresh to see latest changes.

[2019-07-03 14:23] Colin-Stone commented on #140
More complicated than I thought. The activate on clicking zowe tab option is interesting as some issues with startup performance have been registered.
Otherwise I would vote for your original proposal adding and subtracting until you get to 1

[2019-07-03 16:11] adambattenburg commented on #140
@Colin-Stone, unfortunately I'm not able to use the `extension.context.globalState` in the deactivate function apparently. This means I'll need to use something like a `lock` file in the `temp` folder to log instances. I can describe more what I mean later, but I think it's going to be a large undertaking.

In the short term, I'm going to create a PR to tackle the extra error messages that appear

[2019-07-03 17:05] jelaplan commented on #133
Now, the next evolution would be to have a GUI or wizard to step through creating a profile from the VS Code plug-in.

[2019-07-03 17:41] jelaplan commented on #111
Requiring a filter value to reduce the count seems like it would help the user to get results back.

The error message doesn't convey the problem. Could we change that message or is that something zOSMF delivers and so out of our hands?

[2019-07-03 17:50] tucker01 commented on #111
We did some more investigation and in this case, it seems like the error is actually caused by a member with a binary name in the data set. z/OSMF is returning what looks like garbage for that member, causing the Zowe CLI APIs to throw an exception on the JSON parsing.

I tried some other data-sets with ~2k members and it seemed to retrieve them just fine.

[2019-07-03 17:54] tucker01 commented on #111
Snippet from the response:
[code]

[2019-07-03 18:05] jelaplan commented on #115
@Colin-Stone Could you share  your ideas with me and @jayenzi . I'm wary of some rainbow look. Tools like Windows explorer and Mac Finder generally don't use color to distinguish file types. They often rely on file type icons and file extensions to distinguish file types. It is common to support sorting on file type as well.

[2019-07-05 07:42] Colin-Stone commented on #115
Hi John. I know exactly what you mean hence why I created this spike. Part of the motivation is that I would like to set the direction for use of color and graphics rather than "leave it open to interpretation". All input welcome. Here are some of the most current scenarios.

1. I have a long term goal of merging all three of the current views into one with nodes instead representing USS, Datasets

[2019-07-05 12:13] #123 closed

[2019-07-05 12:18] #49 closed

[2019-07-08 07:24] Colin-Stone opened #146 "Error message: Options with treeDataProvider is mandatory"
After including a fix for https://github.com/zowe/vscode-extension-for-zowe/issues/133 I noted that I subsequently received a red message "Options with treeDataProvider is mandatory".

VSCode is not failing nicely when something goes wrong so we should investigate if whatever step causes this should not fail more gracefully.

@lauren-li  would you be able to assess please?.

[2019-07-08 19:34] lauren-li commented on #146
@Colin-Stone Yes, I can take a look at the `Options with treeDataProvider is mandatory` error. I had noticed this error occurring at the same time as the massive error message from #133, but wanted to prioritize the message from #133 since that one seemed to have a bigger impact.

[2019-07-09 22:06] crshnburn opened #148 "Missing grammar files for Spool Output"
PR #142 sets the language for the JESJCL, JESSYSMSG and JESMSGLG spools but opening them still opens the files in plaintext as there are no grammar files available either in this extension or another extension in the market place.

It would aid usability if the grammar files were included in this extension or another which could be referenced in the README.

[2019-07-10 06:56] Colin-Stone commented on #148
Kristina is anyone able to provide these files currently or should we pull the changes for now?

[2019-07-10 07:33] Colin-Stone commented on #97
@adambattenburg For the sake of the next release is this issue closed?.

[2019-07-10 07:36] #86 closed

[2019-07-10 07:36] #65 closed

[2019-07-10 07:36] #70 closed

[2019-07-10 07:37] #57 closed

[2019-07-10 12:06] kristinochka commented on #148
I'm investigating on how to provide the grammar files.

[2019-07-10 14:30] kristinochka commented on #148
The intent of the PR was to enable the possibility to assign grammars in third party extensions as well as opening it up for future code donations

[2019-07-10 14:43] Colin-Stone commented on #148
Is there a way that these languages can be associated with the jcl and log language extensions?

[2019-07-10 14:44] adambattenburg commented on #97
I'd like to fix the the false errors that appear with multiple instances that I [mention here](https://github.com/zowe/vscode-extension-for-zowe/issues/140#issuecomment-508158685), as that is a bit of a regression. I'll try to get a PR in for that very soon!

[2019-07-11 11:58] #97 closed

[2019-07-11 12:32] sergiuilie opened #152 "Incomplete condition on 'when' clause context in package.json"
Hello,

When you have a command registered, let's take `deleteMember` as an example, then in `package.json` on when clause you have to add one more condition ``view == vscode-extension-for-zowe`` so the code should look like
![image](https://user-images.githubusercontent.com/23320888/61050781-0e598a00-a3e8-11e9-99cb-9936c3146799.png)

This bug generates duplicate in extensions if is not treated pr

[2019-07-11 14:06] Colin-Stone commented on #112
@tucker01 Can you try this again since we have updated the file structure please v0.23.0

[2019-07-11 14:07] Colin-Stone commented on #26
Addressed for dataset files in v0.23.0

[2019-07-11 14:07] #26 closed

[2019-07-11 14:10] #105 closed

[2019-07-11 14:10] #90 closed

[2019-07-11 14:10] #133 closed

[2019-07-15 19:45] spufidoo commented on #133
I have this message when trying to install the extension. How do I fix it please?

[2019-07-15 19:48] spufidoo opened #155 "No default zosmf profile found for ZOWE CLI"
Trying to install the zowe extension for vscode, I get the following after startup:

No default zosmf profile found for Zowe CLI. A default zosmf profile created with Zowe CLI is required to use the Zowe extension. Please [create at least one profile with Zowe CLI](https://zowe.github.io/docs-site/latest/user-guide/cli-configuringcli.html#creating-zowe-cli-profiles).

There is nothing but a zosmf_

[2019-07-15 19:53] zFernand0 commented on #155
Hey @spufidoo,
You will need to create a profile with the Zowe CLI by following the documentation below:
https://zowe.github.io/docs-site/latest/user-guide/cli-configuringcli.html#creating-and-using-a-profile

[2019-07-15 22:39] lauren-li commented on #133
@spufidoo With the latest VS Code Marketplace release of this extension (0.23.0), this error message should no longer appear once you create a Zowe profile: https://zowe.github.io/docs-site/latest/user-guide/cli-configuringcli.html#creating-zowe-cli-profiles

If you have done the above step and are still experiencing the issue, would you mind listing your steps to recreate the issue, as well as in

[2019-07-17 12:41] ChrisBoehmCA opened #157 "Unable to use extension with secure credential plugin"
A user is trying to use the Zowe VS Code extension with the secure credential plugin and it is not working. I tried to see if I could help but I'm stumped. He can issue `zowe files ls ds hlq` successfully, but VSCode says he has no default profile because the getDefaultProfile.js script fails.

If he does `node getDefaultProfile.js` from the extension folder, he gets a message about a bad plugin a

[2019-07-17 16:20] Colin-Stone commented on #157
Hi @ChrisBoehmCA So the customer is using Zowe cli without any issues and has the secure credentials plugin installed also?. Do we know what version?.
As you know VSCode pulls it's own version of the node modules in so they are running as part of the VSCode node environment. I'm wondering if there is a weird namespace type of issue going on where we have the standalone version of CLI and the profi

[2019-07-17 16:23] ChrisBoehmCA commented on #157
Ohhh actually I think I know the problem. He is probably using the `@latest` version of the CLI and the zowe extension needs lts-incremental

[2019-07-17 16:24] Colin-Stone commented on #157
So he has an old version?. I would still like to be able to visualize however how the VSCode implementation can access the secure credentials pluginif it is installed in another node application

[2019-07-17 16:28] ChrisBoehmCA commented on #157
Actually the new version. Lts incremental has the `@brightside` imports whereas `@latest` has the `@zowe` imports. So when the extension tries to load his secure credential plugin, it fails to find `@zowe/imperative`.

The user's profiles are loaded via `getDefaultProfile.js` or `getAllProfiles.js`. These scripts do similar actions to the main program of Zowe CLI, calling Imperative.init to load a

[2019-07-17 16:33] Colin-Stone commented on #157
Okay that makes sense.

[2019-07-17 17:07] ChrisBoehmCA commented on #157
Fixed

[2019-07-17 17:07] #157 closed

[2019-07-18 11:40] PeteSwauger opened #158 "Correct IMS plugin test issues found by IBM"
Omar Elbarmawi of IBM found issues with IMS plugin tests that need addressed.

1. In some test cases there is a variable called programWildCard that is attempting to retrieve a variable in the custom_properties.yaml called programWildCard, which does not exist.
    a. Whenever the specific test runs, the variable is undefined and the test fails
2. For some tests, there is a field in the response t

[2019-07-18 20:54] PrasangAPrajapati opened #159 "Incorrect file extensions"
### Issue

Here I want to cover some issues that are occurring because of having file extensions from dataset name.

**What it is doing right now:**
   When you open a member from dataset, now that member has a file extension which is inheriting from the dataset name.

**_Example: 1_**

Dataset: ZOWEPAP. SAMPLE.TEST & It has member SAM1.
Now when you open a member SAM1, now it will be opened as SA

[2019-07-22 08:04] #140 closed

[2019-07-22 08:14] Colin-Stone commented on #136
This makes a lot of sense and should apply to USS files also. @lauren-li would you be interested in looking into this one please?. I think the local file name should stay the same as it is currently but as described by @kristinochka can be constructed when rendering.

[2019-07-22 09:24] Colin-Stone opened #161 "Profiles not automatically updating contained values in VSCode when changed externally"
When a profile is updated for example the password is changed, the new value is not pushed to the profile in VSCode and VSCode continues to use the old value.

Need to investigate why this is happening if possible remove any local storage of credential details Otherwise we will need a refresh option

[2019-07-22 11:59] zFernand0 commented on #161
I'm wondering if restarting VSCode serve as a workaround?

[2019-07-22 12:07] zFernand0 commented on #158
@PeteSwauger,
Should this issue be under https://github.com/zowe/zowe-cli-ims-plugin/issues

[2019-07-22 12:09] PeteSwauger commented on #158
Yes, no idea how this happened.

On Mon, Jul 22, 2019 at 8:07 AM Fernando Rijo Cedeno <
notifications@github.com> wrote:

--
Pete Swauger
Sr Software Engineer
Broadcom

office: 412.494.1263
750 Holiday Drive, Foster Plaza 9, 3rd Floor | Pittsburgh, PA 15220
pete.swauger@broadcom.com   | broadcom.com

[2019-07-22 12:11] #158 closed

[2019-07-22 12:11] PeteSwauger commented on #158
Created in wrong repository.

[2019-07-22 13:29] Colin-Stone commented on #161
That does work, yes. I will still look into this further as I managed to get my id revoked :-(

[2019-07-22 17:11] lauren-li commented on #136
@Colin-Stone When we implemented favorites for USS, we actually did assign profile and file/folder names to be attributes on the node object. I can look into bringing something similar over into the MVS favorites implementation.

[2019-07-23 10:01] Colin-Stone opened #162 "Create Save Search as Favorite in USS"
There is a really cool function available within the Dataset Favorites. The ability to save a search as favorite. When clicked it runs a saved search. @lauren-li Would you and/or Rodney be able to look at creating an equivalent function for USS ?.

[2019-07-23 10:43] Colin-Stone opened #163 "Create Favorites section for Jobs"
To include saved searches/filters.

[2019-07-23 13:46] phaumer commented on #159
We could use this as the default and have settings to switch it back off or even to provide patterns to match (that are covered by file.associations).

[2019-07-23 14:56] Colin-Stone commented on #106
@MikeBauerCA  I'm starting to have a change of mind regarding this approach to solving flexibility. The problem is the same one as you described in https://github.com/zowe/vscode-extension-for-zowe/issues/118 but I now think Favorites is a better solution than multiple nodes. In Datasets we save a search as a favorite. Then clicking it applies it.

I have an issue to recreate the same function for

[2019-07-23 15:01] jelaplan opened #164 "FR: Make Safe Save as the Default"
I recommend that we make Safe Save the default when saving files in the VS Code plugin. This would simplify the interaction so that we wouldn't need a second option in the context menu. Safe Save ensures there are merges whereas the default save (ctrl+s) will overwrite a changed file. IMHO, it is better to merge than not.

![image](https://user-images.githubusercontent.com/3207260/61722318-1135728

[2019-07-23 15:31] ChrisBoehmCA opened #165 "Unable to save data sets"
Tested with three users on the newest version this morning. Data sets are not saving with no indication of what went wrong

I see this in zowe.log... the last line may be the clue. Maybe "path.relative" is not a reliable way to check whether you are in the temporary directory?

[code]

[2019-07-23 15:32] ChrisBoehmCA commented on #165
Jason tested with 0.23.0 as well which seems to have the same problem

[2019-07-23 17:56] MikeBauerCA commented on #106
I would like my most recently used filters to be set on subsequent starts of VSCode. It would also be desirable to recall saved filters as you mention. Favorites could work, but another option would be to allow users to select from a list of saved filters or enter a new filter after clicking the magnifying glass. I do not see much of an issue with a single result set being returned. Adding nodes t

[2019-07-23 19:37] Colin-Stone commented on #106
I propose closing/rejecting this issue but completing #118, #162 and #163 as our GA finishing line. I don't think it will be completed by the end of the current PI however

[2019-07-23 20:01] MikeBauerCA commented on #106
I would support that proposal

[2019-07-24 06:56] #106 closed

[2019-07-24 07:04] Colin-Stone commented on #118
Agreed that this feature should be part of GA 1.0

[2019-07-24 07:04] Colin-Stone commented on #162
Agreed that this feature should be part of GA 1.0

[2019-07-24 07:05] Colin-Stone commented on #163
Agreed that this feature should be part of GA 1.0

[2019-07-24 15:17] zFernand0 opened #168 "Group Favorites section based on profile"
It'd be nice if the favorites section was grouped/collapsible by profile instead of having the format of `[profile-name]: HLQ.DATASET.LLQ` or `[profile-name]: uss/path/to/dir-or-file`

Feedback by: @AHumanFromCA

[2019-07-24 15:25] CoderCoco opened #169 "Reorder favorites from the UI."
When favorites are added, they get added to the bottom of the list. It would be nice if there was a way in the UI to reorder them or sort them in alphabetical order.

[2019-07-24 15:29] CoderCoco opened #170 "Opening job spool files in untitled windows results in annoying save dialogs"
When I am looking at a Job, I quite frequently open every spool file at the same time when I have a JCLERROR. This results in having multiple windows opened in an unsaved state.

The problem is that when I am done with the job, I have to close each window and respond to vscode that I do not wish to save the file contents.

A solution might be to open spool files as read only and require a specific

[2019-07-24 17:50] CoderCoco commented on #165
@zFernand0 says this was fixed in #166 but is still unpublished. Can a new release be published with this fix?

[2019-07-24 18:51] #165 closed

[2019-07-25 10:05] Colin-Stone commented on #115
I would like to use the VSCode minimal graphics on the extension. I have mocked (aka virtually implemented) this up for the Dataset view. The first image shows the use of the "root folder" images on the session and on Favorites
![image](https://user-images.githubusercontent.com/30794003/61865498-37d7e280-aecb-11e9-94be-8aa82f2b949b.png)
The next image shows them expanded. Dataset libraries have a

[2019-07-25 11:50] Colin-Stone commented on #118
VSCode doesn't provide the level of widgets and components that are provided by Eclipse for example. I think this is because VSCode is lightweight and tries to keep things simplistic. Eclipse on the other hand is a much heavier weight environment. The problem is we have only two widgets to play with. An input dialog and a Picker dialog. No custom dialog or combination is available. Therefore I thi

[2019-07-25 16:39] tucker01 opened #172 "Emulate vscodes "workbench.action.quickOpenNavigateNextInFilePicker" (ctrl+p on windows) file picker in data set list"
I hope this isn't a duplicate issue. I think this idea has been discussed before.

In vscode, using `ctrl+p` (the command is `workbench.action.quickOpenNavigateNextInFilePicker`) I'm presented with a dialog box that allows me to type the name (or part) of a file to quickly open/navigate:

![image](https://user-images.githubusercontent.com/37446232/61891770-6d36fd00-aed8-11e9-9f04-301fb20533f3.png)

[2019-07-25 16:41] ChrisBoehmCA commented on #172
:fire:

[2019-07-25 17:40] ChrisBoehmCA opened #173 "Data set attributes display with garbled ANSI characters"
In caf37cedf83cb20b0ebc20b73950fc969a457bd0 the value `false` for `color` here https://github.com/zowe/vscode-extension-for-zowe/blob/master/src/extension.ts#L717 was changed to `true` when calling TextUtils.prettyJson. VSCode can't display these characters so they look like this:

[33mdsname: [39mxxx.PUBLIC.CNTL
[33mblksz: [39m 6160
[33mcatnm: [39m xxx.USERCAT4
[33mcdate: [39m 2017/10/23

[2019-07-25 19:31] CoderCoco opened #174 "Show stepname/procstep for spool files in the jobs tree"
When viewing the spool files in the job tree it would be nice if I could also see the step name corresponding to a DD. This would help easily identify which steps a DD coresponds when there are duplicate DDs with the same name.

[2019-07-25 19:39] MikeBauerCA commented on #169
I think it would be nice if favorite searches were all listed before favorite data sets and each set were in alphabetical order.

[2019-07-26 06:39] Colin-Stone commented on #115
Conclusion is to proceed with these images for all three views. Future evolutions will include explicit file/document icons for files recognized as a certain type such as assembler, cobol etc. I'm still considering use of color when we look at reducing the three sections into one.

[2019-07-26 06:41] Colin-Stone opened #176 "Use VSCode "minimal" icons to indicate folders and files"
Add graphical icons in the explorer views to indicate container and file objects
![image](https://user-images.githubusercontent.com/30794003/61865498-37d7e280-aecb-11e9-94be-8aa82f2b949b.png)
The next image shows them expanded. Dataset libraries have a plain folder and all folders are expandable. Files are simple document images however at a later stage I would like specific documents that images

[2019-07-26 06:43] #115 closed

[2019-07-26 06:49] Colin-Stone commented on #102
work in conjunction with #118

[2019-07-26 06:59] Colin-Stone opened #177 "Rework of README file"
Missing numerous new functions. Restructure to present use cases

[2019-07-28 22:09] crshnburn commented on #170
Looking through the VSCode API reference we should be using a TextDocumentContentProvider to show the Spool content rather than treating them as a new text file each time.

I've prototyped something which does this and the spool content now opens like this
<img width="575" alt="Screenshot 2019-07-28 at 23 05 25" src="https://user-images.githubusercontent.com/860280/62013592-9ed7ee80-b18c-11e9-9712

[2019-07-29 17:02] #114 closed

[2019-07-29 17:02] #159 closed

[2019-07-29 17:02] #4 closed

[2019-07-29 17:03] #152 closed

[2019-07-29 17:03] #11 closed

[2019-07-30 10:46] #174 closed

[2019-08-01 16:59] ChrisBoehmCA opened #182 "Support "copy path" in USS explorer"
On right click, it would be cool if I could copy the full path of a USS file or directory as you can in the main VSCode file explorer. I might use this to CD to a directory in ssh or use in a Zowe CLI command/script

![image](https://user-images.githubusercontent.com/42545737/62312440-30c94b00-b45c-11e9-9ec4-4e2f9cbb45c0.png)

[2019-08-02 17:03] Colin-Stone commented on #159
This feature is working as designed and would as Peter says be the default behavior. The intention was not to have users having to think about settings and associations. The local file structure was broken (defects against it) so needed reviewing and this function makes available some of the z/OS based syntax highlighters. Overriding as described may be an option for you.

[2019-08-05 07:36] #173 closed

[2019-08-05 10:59] Colin-Stone opened #185 "Missing translation hook"
Missing translation
![Screenshot 2019-08-05 at 11 58 50](https://user-images.githubusercontent.com/30794003/62459922-75b0f280-b778-11e9-9fa5-001040c0062f.png)

[2019-08-05 13:51] evannwu20 commented on #185
Should have been added in most recent localization pr.
<img width="382" alt="Screen Shot 2019-08-05 at 9 49 29 AM" src="https://user-images.githubusercontent.com/51461375/62469564-7fc9f580-b766-11e9-8cdc-950f10e65291.png">

[2019-08-05 16:09] #34 closed

[2019-08-05 16:09] #146 closed

[2019-08-05 18:42] Colin-Stone commented on #185
Thanks Evan this is fixed along with the USS one. Please don't close issues straight away as someone still has to verify/review it.

[2019-08-05 18:42] #185 closed

[2019-08-05 18:43] Colin-Stone commented on #182
Great idea, is this the full remote path or local path?.

[2019-08-05 18:44] ChrisBoehmCA commented on #182
In my opinion, the full remote path would be more useful

[2019-08-06 12:33] ChrisBoehmCA opened #187 "Default to LF (vs CRLF) when editing USS files"
Editing some shell scripts and other programs and USS has gone wrong for me a few times because VSCode is tacking on a `\r` on the ends of my lines which causes syntax errors on USS. Is it possible to start the editor in LF mode?

![image](https://user-images.githubusercontent.com/42545737/62540091-c3833480-b824-11e9-8db7-49b9b7923041.png)

[2019-08-06 12:42] ChrisBoehmCA commented on #187
Looks like maybe you can set the property `eol` on the TextDocument returned by openTextDocument?

https://code.visualstudio.com/api/references/vscode-api#TextDocument

[2019-08-06 18:06] ChrisBoehmCA commented on #187
Unfortunately `eol` is a read only property.

I found this, which works, but forces a save immediately upon opening a USS document. So I guess I will just globally set VSCode to use LF to avoid this problem

[2019-08-07 18:20] gplambert opened #188 "Incorrect profile name in favorites crashing Zowe extension"
When navigating to the Zowe Extension in VS Code, the Favorites and zosmf-profile do not show up on any of the tabs, data sets, uss, or jobs. Instead, you get the following message: There is no data provider registered that can provide view data.

Steps to Reproduce

    Create a zosmf-profile
    List datasets and/or USS files
    Select a 'favorite', I had one for both Data sets and USS
    Dele

[2019-08-12 13:27] Colin-Stone commented on #118
When recalling history I propose keeping a list of the last 5 different searches. There is an option to have a list for each individual profile within USS/Job/Dataset but I think these would ideally be at the USS, Job or Dataset level instead. Any strong opinions?

[2019-08-12 19:16] zFernand0 opened #191 "Unit tests failing on Windows"
[code]

[2019-08-14 07:36] Colin-Stone opened #195 "Master build broken - NLS Support"
npm run package failing
<img width="1264" alt="image" src="https://user-images.githubusercontent.com/30794003/63002641-4c761d80-be6e-11e9-84ac-064eb6cde84f.png">

[2019-08-14 08:03] Colin-Stone commented on #195
Gulp package needs to precede node stringUpdateScript.js

What is the effect of adding these extra steps does it leave more files that need cleaning up before the files get packaged?.

[2019-08-14 15:39] Colin-Stone commented on #195
I get the same issue with additional information
`[15:44:55] Starting 'internalNlsCompileTask'...
src/DatasetTree.js(281,78): second argument of a localize call must be a string literal.
[15:44:59] 'internalNlsCompileTask' errored after 3.67 s
[15:44:59] Error: Failed to rewrite file: /Users/stonecc/git/vscode-swap/out/src/DatasetTree.js`

[2019-08-14 16:13] Colin-Stone commented on #195
So it looks as if the critical piece is this `After adding/updating/removing any string, run npm run package. This will update the sample directory under the i18n folder with the newly added strings. Upload these files to Zanata or email a maintainer to do so.`
And that these files also need to be uploaded to git not just provided to zanat etc

[2019-08-15 05:25] lauren-li commented on #195
PR #197 will hopefully address this.

@Colin-Stone This is more a rearrangement of steps rather than an extra step. The gulp command was moved into the npm build script, which runs before `npm run update` in the vscode:prepublish script. (`npm run update` will run stringUpdateScript.js, which expects files produced by the gulp command.)

Also, since we were having issues with the gulp task removin

[2019-08-15 07:21] Colin-Stone commented on #195
Thanks for fixing @lauren-li

[2019-08-15 07:21] #195 closed

[2019-08-15 07:38] #191 closed

[2019-08-15 07:40] Colin-Stone opened #198 "Running a saved search causes a duplicate profile to be created"
If you have specified several save searches in the datasets view, running save search can create a duplicate profile to be spawned that is the same as the existing one

[2019-08-15 08:10] #141 closed

[2019-08-15 08:10] #176 closed

[2019-08-15 14:24] lauren-li commented on #195
@Colin-Stone Thank you for your help looking into this! I'd also like to thank my teammate Prasang for his guidance on the npm issue.

[2019-08-15 19:59] dogboydog commented on #187
Note: Setting VSCode to LF did not help as the files are still downloaded as CRLF which is then detected by VSCode. Not sure what the solution is... perhaps replacing /r/n with /n after downloading/ before opening, if that wouldn't cause any other problems

[2019-08-16 01:50] phaumer opened #200 "Cannot save USS files"
In version 0.24

- create a new file in a USS folder via right-click
- open the file and edit
- do a save -> error dialog

The logs show

[code]

[2019-08-16 06:31] Colin-Stone opened #202 "Consider use of alternative labelling for session objects"
Follow on from #200
Review all duplicated node fields to understand why they are there and in what cases they can differ

[2019-08-19 21:39] lauren-li commented on #188
Planned fix results: When the user has a favorite with an invalid profile name...
- Tree data for Data Sets, USS, and Jobs will still load.
- Favorites with valid profile names will still load in the tree.
- Favorites with invalid profile names will *not* load in the tree.
- The user will receive an error message for either USS or Data Sets depending on which setting(s) contains the invalid favori

[2019-08-20 06:18] Colin-Stone commented on #200
Sorry you hit this Peter but thanks for finding it so quickly. This is now addressed in 0.24.1

[2019-08-20 06:30] Colin-Stone opened #203 "Icon inconsistency with refresh"
Two issues with USS/Dataset trees where the icon expanded state is inconsistent with the twistie state.
1. When collapsing the session object and expanding again, the tree should be reinstated exactly how it was. However lower down expanded icons have been reset to expanded.
2. When using the refresh buttons folders/directories should all be collapsed. However the icon may not be reflecting that s

[2019-08-20 06:33] Colin-Stone commented on #203
The issue needs tweaking of the behavior so that all nodes start off with the dirty flag set false meaning they do not attempt to find children. Plus a number of other tweaks along the way. Note that the tests have changed because the nodes are now created dirty=false so need to get down and dirty before they can be populated.
Will look at Jobs when providing Favorites as it's behavior is inconsis

[2019-08-20 13:00] zFernand0 commented on #187
Hey @dogboydog, we can give that a try :smile:

[2019-08-20 14:12] #203 closed

[2019-08-22 17:35] phaumer opened #207 "Provide Release tags"
As the VS Code extension is under heavy development there are breaking changes from time to time requiring that one can go back and manually build an older version that was still working.

In the VS Code marketplace the Changelog does not tell me when a version was release and the repo also does not tell me. The version number updates in the package.json also do not seem to be a good indicator.

T

[2019-08-22 18:43] lauren-li commented on #182
Trying to keep consistent with VS Code's [native categorization](https://code.visualstudio.com/api/references/contribution-points#Sorting-of-groups), our UX team has suggested we add "Copy Path" into its own new category, placed above modification.

With this update, the complete list of context menu groupings would be as follows:

`0_mainframeInteraction`:
- Pull from Mainframe
- Safe Save - Merg

[2019-08-22 19:00] MikeBauerCA commented on #182
@jelaplan offered a suggestion to change "Safe Save - Merge if Necessary" to "Safe Save, Merge if Necessary" in issue #164. Although outside the scope of this issue, I agree with the suggestion in #164 to make "Safe Save" the default behavior of the save operation if possible.

[2019-08-22 19:06] MikeBauerCA commented on #177
Most of the GIFs are outdated as well.

During the rework, we should focus on the most popular use cases in the README and reference additional use cases and user documentation in another location. The information in the README should be of high value to most users.

[2019-08-22 20:03] lauren-li commented on #182
@MikeBauerCA Thanks for notifying me of this suggestion! Although I'm not currently addressing issue #164, I can go ahead and change the dash to a comma in the context menu command for "Safe Save". I've updated the list of context menu groupings above to reflect this, as well.

[2019-08-23 06:42] Colin-Stone commented on #207
It is worth remembering that we have not reached GA and the code is still under development. Consequently all should be marked pre-release? (Question/Statement)

[2019-08-23 12:27] parthamaiti-hub opened #208 "Extension causes high cpu load"
[Zowe.vscode-extension-for-zowe-unresponsive.cpuprofile.txt](https://github.com/zowe/vscode-extension-for-zowe/files/3534370/Zowe.vscode-extension-for-zowe-unresponsive.cpuprofile.txt)
- Issue Type: `Performance`
- Extension Name: `vscode-extension-for-zowe`
- Extension Version: `0.24.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.37.1`

:warning: Make sure to **attach** this fi

[2019-08-23 13:05] zFernand0 commented on #207
As long as we remain at the `0.x` level, we should be prefectly fine with making as many breaking changes as we need to.

As for release tags, I remember this is something that was proposed before but was shutdown because of the fear of inconsistency since the versioning on the VSCode Extension is being done "by-hand".

Would it be worth automating such process? Or at least using a combination of

[2019-08-23 16:48] #200 closed

[2019-08-23 16:50] #170 closed

[2019-08-27 09:38] Colin-Stone opened #209 "Folder or directory expansion not working correctly in theia environment"
Subsequent to version 0.24.1 the expansion of certain leaves aren't working correctly.

This started with the new icon swapping functionality. When expanding or collapsing and the way that events generated are handled differently in the VSCode implementation versus a theia. In the case of theia this can be avoided by not implementing the icon swapping and therefore avoiding the extra events but th

[2019-08-27 13:48] tjohnsonBCM opened #210 "Persistence of added profiles"
When profiles are added to any of the tree views in the extension, they do not persist after restarting VS Code. It would be a nice enhancement if non-default profiles were remembered across restarts, instead of needing to be added repeatedly.

[2019-08-27 14:02] tjohnsonBCM opened #211 "Refreshing job list more than once doesn't collapse tree node"
Steps to reproduce:
1. Add a profile to the Jobs tree that contains several jobs and expand it.
2. Click the Refresh button next to the profile name. The job list collapses and must be expanded again, which I believe is expected behavior.
3. With the job list expanded, click the Refresh button again. Now the list disappears, but the arrow next to the profile node is still expanded. Now I need to c

[2019-08-27 14:14] tjohnsonBCM opened #212 "Improve speed of loading quick pick for Add Profiles"
After clicking "Add Profile", there is often a significant delay before the quick pick appears. Currently a separate instance of Node is spawned to obtain the list of profiles, in order to support the Secure Credentials plugin which contains native code.

The extension could check the Zowe config to see if a credential manager is enabled. If not, the profile list could be obtained without creating

[2019-08-27 19:16] ghost opened #213 "Investigate displaying messages in status bar"
When editing a dataset in VS Code, a notification appears every time it saves that says "Dataset uploaded successfully." The frequency of these notifications seems undesirable when making a lot of edits, as they keep on popping up.

Perhaps this message could be showed in the status bar at the bottom of the screen instead. This would make the info less distracting, while still visible for users wh

[2019-08-29 07:41] Colin-Stone commented on #211
The rule I applied across the three views was if you collapse and then expand a node e.g. the root, the content stays as it was as in every child that was expanded remains expanded. No server calls made. Alternatively if you perform a refresh I treat is as a clean slate and remove all child elements from the node being refreshed. This avoids multiple calls to the server to reinstate the same situa

[2019-08-29 07:42] Colin-Stone commented on #210
I think this makes sense and should be a requirement for GA

[2019-08-29 08:02] Colin-Stone commented on #209
The issue is caused because the mechanism "flipState" responding to the onDidExpand (or Collapse event updates the icon and fires an element data changed event. This is received correctly by VSCodes treeview getChildren method but under theia the treeview getChildren method receives undefined rather than the element which causing the root element to be sent the getChildren request. As a work aroun

[2019-08-29 08:26] Colin-Stone commented on #168
@zFernand0 would you be able to show me the type of structure you are thinking of?.

[2019-08-29 08:35] Colin-Stone commented on #111
@tucker01 Is this still an issue that needs addressing?. I think the filtering makes sense but is there another problem to fix with the binary data?.

[2019-08-29 11:12] tucker01 commented on #211
Thanks @Colin-Stone. I think the key oddity here, was that once you hit refresh, you had to close the folder, then open it again to see the list.

I think the former version refreshed the list in place, so no additional user action was required to see the jobs.

[2019-08-29 11:15] tucker01 commented on #111
The length of the list here was a "red-herring". The real error was caused by a binary member name. I'm not sure how we can address this... but we probably have to in the CLI as well.

[2019-08-29 16:05] tucker01 opened #217 "Default search for profile"
If #210 is implemented, I think it would be great if I could set a default search for a persisted profiles.

[2019-08-30 07:08] t-o-m-e-k opened #218 "USS file icon disappears after "Toggle Binary" action"
When browsing USS files the file icon will disappear after "Toggle binary" action. When toggled back to text it reappears.

[2019-08-30 07:53] t-o-m-e-k commented on #182
There are other VSCode File Explorer actions which would be nice to have in Zowe extension:
- Allow opening file in a separate tab with double click.
- Add compare actions ( Select to compare/ Compare with selected)

[2019-08-30 14:17] Colin-Stone commented on #182
Hey Tomasz, great ideas, thanks. The first one in particular has been mentioned before so we need to start capturing ideas like these. Would you be happy raising these as separate issues?..
Thanks

[2019-08-30 16:17] phaumer commented on #209
https://github.com/zowe/vscode-extension-for-zowe/pull/214

[2019-08-30 19:33] phaumer commented on #209
@Colin-Stone thanks a lot for making it work. I submitted a PR that would not require setting, but automatically detects if we are in Theia or VS Code: https://github.com/zowe/vscode-extension-for-zowe/pull/219

[2019-09-03 06:36] Colin-Stone opened #220 "Jobs root folder not expanding automatically when search run [Consistency]"
The Job view is inconsistent with the other two Zowe views because it does not automatically expand when it has criteria applied to it. Either as owner/prefix or by manually applying search criteria. The user instead has to manually activate the twistie to see the results.

[2019-09-03 06:38] Colin-Stone opened #221 "Differentiate between the Favorites and profile roots [UX]"
As users add more profile root folders it would be useful to quickly see the different type using color.

[2019-09-03 07:10] Colin-Stone commented on #177
Suggest we have three sections or sub page links. Would like to have gifs for each funtional area but describe menu options in text so the description can be expanded upon. For example Safe save with merge needs more explanation.

First page show the overall container with three views and a highlighted file in editor
## Generic view function
Dynamic Gifs...
- Add profile
- Refresh all

Separate pa

[2019-09-03 07:14] Colin-Stone opened #222 "Extension Activation: Code reorganization"
The code has grown organically and needs restructuring slightly. Once the views are committed there is an if check made that they are defined before subsequent view specific initialization and function registration begins. However there are functions outside of these blocks that should be included for reliability reasons alone

[2019-09-03 07:19] Colin-Stone opened #223 "Use Progress indicator wrapper around longer running function"
Consider using Progress Indicator around all search functions. Apart from anything else this is useful for showing that a search has indeed been kicked off rather than "Did it, Didn't it" situation.
Difficult to Unit test however so will require additional integration testing

[2019-09-03 08:16] VitekVlcek-Broadcom opened #224 "allow mass deletion of jobs"
Hi
I would like to ask for new functionality regarding job deletion. I need to delete many jobs at once.
 * Allow me to select multiple jobs and then delete them at once
 * Allow me to delete a job by pressing `<DEL>`  key
Thank you

[2019-09-03 13:13] MikeBauerCA opened #226 "Allow VS Code Extension Settings of Connection Information"
We should consider removing the strict dependency on Zowe CLI Profiles. As part of this effort, we would need to provide a means of entering connection details directly within the VS Code extension.

However, as a heavy Zowe CLI user I would like to continue having the ability to use profiles I defined in the CLI. Therefore, we should not remove the current integration.

- [x] Add Connection Detai

[2019-09-03 19:06] lauren-li opened #228 "Allow users to type search query without having to first click "Specify Filter""
Saved searches are working great, but our current implementation makes users go through an extra (and arguably unintuitive) step where they have to first click on "Specify Filter" before typing a new query:
<img width="601" alt="Screen Shot 2019-09-03 at 3 01 30 PM" src="https://user-images.githubusercontent.com/45975633/64201184-10761d00-ce5c-11e9-9030-202fa077e626.png">

It would be nice if we c

[2019-09-04 13:58] dkelosky commented on #164
@Colin-Stone - does "safe save" use [Etag](https://www.ibm.com/support/knowledgecenter/en/SSLTBW_2.1.0/com.ibm.zos.v2r1.izua700/IZUHPINFO_API_RESTFILES.htm)?

[2019-09-04 14:13] Colin-Stone commented on #228
I agree this is not ideal but I don't see any alternative VSCode dialog available unless we consider having multiple menu items. One to directly access the specify filter dialog and another the history. Personally I feel what has been implemented is the best we could do.

[2019-09-04 16:00] Colin-Stone commented on #164
No it's a little peculiar. Just looking at the code it pulls the file back down again and VSCode appears to take over and realizes that the files are different. It the lets you decide if you want to open the compare editor which is neat.

[2019-09-04 18:09] dkelosky opened #231 "Safe Save Can Sometimes Fail"
Spun off from looking at #164.

If I use "Safe save" and get a merge conflict:

![image](https://user-images.githubusercontent.com/14940561/64279456-16800280-cf1d-11e9-8412-71a96c8602b1.png)

Then edit the file in ISPF:

![image](https://user-images.githubusercontent.com/14940561/64279429-0536f600-cf1d-11e9-973f-6c97359256a9.png)

Then resolve the merge conflict, my ISPF edits are overwritten:

![

[2019-09-04 18:12] dkelosky commented on #231
Likewise, making a 1 char change in ISPF:
![image](https://user-images.githubusercontent.com/14940561/64279765-c3f31600-cf1d-11e9-9b5f-1f9dc505e99b.png)

Then doing a VS Code update:
![image](https://user-images.githubusercontent.com/14940561/64279798-d0776e80-cf1d-11e9-891e-bbb3868d9914.png)

The overwrite takes place without presenting a merge option.

Perhaps we should look to enhance the API m

[2019-09-04 20:34] MikeBauerCA opened #232 "Adjust Save Functionality"
This issue should address #231 and #164. There are possible scenarios where data sets / USS files may be accidentally overwritten. Below is one suggestion on how to resolve this:

There should be one save operation and the operation should work as follows:
1. When a data set or USS file is retrieved, our VSCode extension should store the entity tag (for more information, search ETag on https://www

[2019-09-04 20:57] MikeBauerCA opened #233 "Allow data sets and data set members to be copied"
Depends on zowe/zowe-cli#521

[2019-09-04 20:58] MikeBauerCA opened #234 "Allow data sets and data set members to be renamed"
Depends on zowe/zowe-cli#520

[2019-09-04 21:10] MikeBauerCA opened #235 "Error searching data sets when result set contains migrated data sets"
When searching for data sets, if the result set contains a migrated data set I receive the following message:
[code]
The same issue arises if I issue `zowe files list ds "HLQ.*" -a` but I do not receive an error when issuing the same command without the attributes flag.

[2019-09-05 07:22] Colin-Stone commented on #228
One possibility is to fall into line with the jobs view which has the context menu to directly go to an editor. So the magnifying glass will link to the combined dialogs with QuickPick and Input Box and for quickly adding a search criteria we would have a menu say "Set Root folder" for USS or "Set Pattern" for datasets
<img width="186" alt="Screenshot 2019-09-05 at 08 19 01" src="https://user-imag

[2019-09-06 17:05] Colin-Stone opened #237 "Integration Tests Failing"
DatasetTree "should create the TreeView" failing and USS Tree version passing but not working correctly.

Issue relating to node not being revealed in view, most likely down to reorganization of the initialization work.

[2019-09-06 18:52] Colin-Stone commented on #237
I'm not sure what's happening now. Sometimes they are passing sometimes the TreevIew test above fails. Recreated test environment and it worked but soon failing again. Am testing from home so I don't know if a factor or not. @zFernando are you able to try?. Hopefully it is my environment

[2019-09-07 08:00] Colin-Stone commented on #237
As described in the PR this problem is about conflicting resources so I have separated out this test. Not sure how I missed it previously as I tend to run the tests regularly but it will have been introduced as I have been reorganizing the mass of function in extensions into more appropriate files. Follow up action is to continue the code and test reorganization so they are more componentised rath

[2019-09-09 09:28] MikeBauerCA commented on #111
At a minimum, this should be documented as a known issue prior to 1.0 MVP

[2019-09-09 09:54] MikeBauerCA commented on #198
@Colin-Stone is this still an issue?

[2019-09-09 09:59] MikeBauerCA commented on #210
It would also be nice if filters were remembered across restarts.

[2019-09-09 11:47] MikeBauerCA opened #239 "Link to job not working"
When submitting a job via right click -> submit job, I receive the following popup:
![image](https://user-images.githubusercontent.com/35504792/64528185-22e2d180-d308-11e9-8f75-684f376ce3d5.png)

However, clicking the link currently does nothing.

Zowe VSCode Extension Version 0.24.1

[2019-09-09 12:20] tucker01 commented on #112
This seems to still be a problem at 0.24.1.

Attributes work from vscode:
[code]

[2019-09-09 12:21] tucker01 commented on #112
Listing the data-set members with zowe CLI works:
[code]

[2019-09-16 14:55] IgorCATech commented on #226
@jalel01 Does removing the dependency on CLI profiles mean that having Zowe CLI as a prerequisite is no longer needed?

[2019-09-16 15:03] MikeBauerCA commented on #226
@IgorCATech yes, but we will want to document the CLI profile versions we have integration with.

[2019-09-17 15:05] IgorCATech commented on #226
@MikeBauerCA I'm not entirely sure what you mean by this. Do you plan to have 2 versions of the extension: 1 - that allows using the Zowe extension without CLI profiles, 2 - the one that needs to have CLI profiles to be able to run? What does "CLI profile versions" mean?

[2019-09-17 15:15] Colin-Stone commented on #210
Filters will persist. I have already coded that, just not committed yet

[2019-09-17 16:05] MikeBauerCA commented on #226
@IgorCATech, one version of the extension.

Users can store their connection details in VSCode directly so they do not need to have CLI profiles.
If users want to continue storing their connection details in CLI profiles as they do today, they do not need to change anything. The extension will be able to read from both locations.

Personally, I will continue to use CLI profiles since I am a CLI us

[2019-09-17 22:44] MikeBauerCA opened #243 "Do we have unnecessary options in our context menus?"
The following options may be unwanted in the context menus for data sets and USS files.
- Pull from Mainframe
- Safe Save, Merge if Necessary

`Pull from Mainframe` is available via a clickable icon. This action is also performed when clicking a file for the first time. If we want to keep the context menu option, perhaps we could remove the button that appears on hover.
`Safe Save, Merge if Necess

[2019-09-17 22:48] zFernand0 commented on #243
Should we consider people that don't use a mouse here?
I believe most/all the icons appear while hovering over the row. And I don't know what the behavior is when tabbing through the panel (datasets members for instance)

[2019-09-18 13:08] IgorCATech commented on #226
That makes perfect sense! Thanks for the explanation.

[2019-09-19 03:25] englandl opened #244 "VS Code-Zowe - Uploading zip file (binary) fails without error msg"
In VSCode 1.38.1, I have USS available in the Zowe tree and took the following actions
* place focus on the directory 'newDirectory'
* right mouse button to display the action pull-down
* click on 'Upload files ...'
* in the explorer that opened, I selected a simple text file (text.txt)
* clicked on the 'Upload Files' button
* Ta-da! the text file was uploaded to the appropriate directory. (Althou

[2019-09-20 14:49] t-o-m-e-k opened #245 "Double-click to open file in separate tab action"
Currently it's very hard to open and view files in separate tabs when working with VSCode Zowe extension.
In VSCode file explorer it is simply done by double clicking on a file.
It would be nice to have same functionality in the Zowe extension.

[2019-09-20 14:53] zFernand0 commented on #245
What a coincidence :smile:
https://github.com/zowe/vscode-extension-for-zowe/pull/242
Thanks for reporting @t-o-m-e-k

[2019-09-20 15:48] t-o-m-e-k opened #246 "Add compare actions for USS files and Data Sets"
The VSCode file explorer allows to compare files with 2 simple actions :
Right click on a file + "Select for Compare" / "Compare with Selected"

It would be really nice to have the same functionality directly in the Zowe extension.
Very useful for analysing configuration files / option members / code / ... for changes.

[2019-09-20 16:20] MikeBauerCA commented on #246
As a workaround in the interim, once you have the files in an open editor tab, this functionality is available in the OPEN EDITORS section of the native VS Code Explorer.

I agree it would be ideal to have this feature directly available in the Zowe extension.

[2019-09-23 13:25] #237 closed

[2019-09-24 23:09] MikeBauerCA commented on #226
We should also consider not storing the username as this may be considered sensitive information as well.

[2019-09-24 23:16] MikeBauerCA commented on #212
I have seen this cause issues in practice. Users do not wait for things to happen as they expect an immediate response. This causes folks to click the "Add Profile" button multiple times which spawns multiple operations.

If we cannot improve the performance for folks using the Secure Credential Store plugin, then we should prevent the issue of folks clicking the button multiple times and spawning

[2019-09-25 11:22] tucker01 commented on #212
@MikeBauerCA, Are you still looking to support both CLI profiles and `settings.json`? If that is the case, and the user has the profile, seems confusing that they would have to retype their credentials?

I'd rather see the "click to add profile" removed in favor of having a CLI profile list in `settings.json`. Set and forget... my required profiles are available every time I launch vscode.

[2019-09-25 12:45] MikeBauerCA commented on #212
@tucker01, yes I would like to support both CLI profiles and `settings.json`. I agree that ideally users of the secure-credential-store would not need to retype their credentials. Perhaps there is a technical resolution to the issue with accessing the secure credentials from the Zowe VS Code Extension when a different version of the CLI package was used to create the profiles.

Persistence of adde

[2019-09-25 13:22] tucker01 commented on #212
I don't follow... The "technical resolution" is spawning a node process using the same version of node.js that created the credentials. If something isn't working with loading secure credentials, we need to open an issue.

This issue is about UI response time. I believe there is an API you can use to get profile names without involving the secure credential store. If we switch to using that, "clic

[2019-09-25 18:07] Colin-Stone opened #248 "If job node deleted also remove favorite"
Check behavior of opening a deleted job and remove a favorite if deleted in the main list

https://github.com/zowe/vscode-extension-for-zowe/pull/247

[2019-09-25 21:11] MikeBauerCA commented on #226
During today's Zowe CLI Standup, it was decided to store the username until we hear feedback from users that they would rather not store this information.

If this feedback is received, we should consider making the username field optional when setting connection details. Then, if the username for a specific connection is not defined, when needed the extension could prompt the user for both their

[2019-09-26 08:41] Colin-Stone commented on #244
Thanks for finding this issue @englandl . It certainly is a valid use case we would like to provide for. We have previously provided function for download which allows a user to switch to treat a file as binary but we need to come up with something that allows for uploads before the file is actually uploaded. Although I have indicated bug this is probably an enhancement but either way I think it's

[2019-09-26 10:59] Colin-Stone commented on #248
This is what you get if the job is deleted elsewhere and you have an entry in the favorites. I'm okay with this for now. The user would have to manually delete the favorite but that's not a massive issue. ![Screenshot 2019-09-26 at 11 54 13](https://user-images.githubusercontent.com/30794003/65683262-bdefe100-e054-11e9-9e63-979428335c38.png)
Fixed the code up so that if a user deletes a node in th

[2019-09-26 13:44] Colin-Stone opened #249 "Zowe conformance, logo etc"
Three points John Mertic has highlighted to me regarding the entry on marketplace
1) The name is just 'Zowe' - we should instead be more accurate as in 'VS Code plugin for Zowe' or 'Visual Studio Code plugin for Zowe'
2) The logo, if we want to incorporate Zowe, should use the proper logo. I can help get a new logo for you that is a combination of the Zowe logo and the offering name
3) And we shou

[2019-09-26 13:47] Colin-Stone opened #250 "Visual Studio Code marketplace name"
Three points John Mertic has highlighted to me..
1) The name is just 'Zowe' - we should instead be more accurate as in 'VS Code plugin for Zowe' or 'Visual Studio Code plugin for Zowe'
2) The logo, if we want to incorporate Zowe, should use the proper logo. I can help get a new logo for you that is a combination of the Zowe logo and the offering name
3) And we should get this Zowe Conformant. Or i

[2019-09-26 13:48] #250 closed

[2019-09-26 16:07] MikeBauerCA opened #251 "Ensure Extension works in Eclipse Theia"
Eclipse Theia directly supports VS Code extensions. The Zowe extension should function properly in the Theia environment and this is a prereq to the VSCode GA1.0 MVP milestone. I understand some work has already been done in this area and we would like to claim ongoing support for this objective.

- [x] Test extension in Theia environment and open issues for any incompatibilities

- [ ] Document h

[2019-09-27 06:28] Colin-Stone commented on #198
Fixed by https://github.com/zowe/vscode-extension-for-zowe/pull/247

[2019-09-27 06:28] Colin-Stone commented on #102
https://github.com/zowe/vscode-extension-for-zowe/pull/247

[2019-09-27 06:28] Colin-Stone commented on #118
https://github.com/zowe/vscode-extension-for-zowe/pull/247

[2019-09-27 06:29] Colin-Stone commented on #239
https://github.com/zowe/vscode-extension-for-zowe/pull/247

[2019-09-27 06:32] #221 closed

[2019-09-27 06:32] #209 closed

[2019-09-27 06:35] Colin-Stone commented on #93
https://github.com/zowe/vscode-extension-for-zowe/pull/247

[2019-09-27 06:42] Colin-Stone commented on #222
One of the consequences of this reorganization is that the three sections can now be configured so that users who for example don't need a JES viewer can exclude Jobs.

[2019-09-27 06:43] Colin-Stone commented on #249
@zFernand0 Do you know how we would go about changing the marketplace information?.

[2019-09-27 06:45] Colin-Stone commented on #74
Maybe do in conjunction with https://github.com/zowe/vscode-extension-for-zowe/issues/5

[2019-09-27 11:41] zFernand0 commented on #249
A few comments about each point:
<br/>

Are you referring to the `Publisher` information, or rather the extension itself.
- It's fairly easy to update the Publisher information (display-name, Doc sitt, GH link, support info...)
- It's not possible to change a Name of a published extension without losing all the metadata (downloads, ratings...) since it's tied to `publisherName.extensionName`. See

[2019-09-27 11:49] Colin-Stone commented on #249
Thanks Fernando. I think it should be quite straightforward then. Update the display name, incorporate the revised icon John Mertic provided me with and decide what conformance rules we want to apply

[2019-09-27 13:18] zFernand0 commented on #239
@Colin-Stone, should the job be expanded upon clicking the JOBID?

[2019-09-27 14:34] #245 closed

[2019-09-27 15:21] Colin-Stone opened #252 "Cleanup the context menus in USS view"
In addition to refresh and safe save inline icons appearing against USS Search, rogue editor inline and context menus appeared along with a duplicate remove Favorite for USS folders. The latter were due to merge with new editor functionality

[2019-09-27 16:28] phaumer commented on #226
@MikeBauerCA Would it make more sense that the extension would actually create Zowe profiles instead of storing in a different format? Then extensions users can create profiles graphically, but also open a Terminal in VS Code and run CLI commands and scripts?  What is the advantage of having something that can only be used in the extension?  They would have to enter the same info twice if they wan

[2019-09-27 19:04] MikeBauerCA commented on #226
@phaumer I love the idea of enabling CLI users to be able to create their profiles graphically.

Adopting this strategy, a user could also start with the VS Code extension and then later adopt the CLI and be able to use the profiles they already created.

For users who do not want to store their username and password, we could elect to make these fields optional in the CLI z/OSMF profiles (and all

[2019-09-28 01:59] phaumer commented on #226
@MikeBauerCA we did a lot of work with Docker containers with Theia, the Zowe VS Code Extension, and CLI. Works great.

[2019-09-30 06:36] Colin-Stone opened #254 "Provide interface to read/update file attributes and codepages"
Use the HTML form support to allow access to chmod/chtag type functions

[2019-09-30 07:38] jalel01 commented on #226
Yes, i can see how standardizing on this would remove some of the current complexity for end users.

[2019-09-30 15:21] #252 closed

[2019-09-30 18:19] jelaplan commented on #226
@MikeBauerCA I'm glad you raised the possibility of optionally storing username and password. That came up this morning in a call. Some people are opposed to storing that information for security reasons and for practical reasons of the pw expiring and folks not knowing how to change. So, I think that that would be a firm requirement.

A benefit of the common profile approach is not only that folk

[2019-09-30 20:10] MikeBauerCA commented on #249
This extension has significant adoption under its current name and logo. I would propose any name and/or logo changes go through appropriate UX & ZLC approvals.

I'll add that long names are not displayed well in the marketplace. In the README, the extension is referred to as the "Visual Studio Code Extension for Zowe"

Since it is hosted on the Visual Studio Code marketplace, I also think stating

[2019-10-01 07:17] #222 closed

[2019-10-01 07:17] #162 closed

[2019-10-01 07:17] #239 closed

[2019-10-01 07:17] #198 closed

[2019-10-01 07:17] #248 closed

[2019-10-01 07:17] #163 closed

[2019-10-01 07:17] #93 closed

[2019-10-01 07:17] #102 closed

[2019-10-01 07:17] #118 closed

[2019-10-01 07:24] Colin-Stone commented on #218
Hi Tomasz.
I think this is fixed already but I like to change the icon subtly at some stage so it is more obvious what the state is

[2019-10-01 07:25] Colin-Stone commented on #210
I'm restructuring the ProfileLoader code for this issue and considering https://github.com/zowe/vscode-extension-for-zowe/issues/208 and https://github.com/zowe/vscode-extension-for-zowe/issues/212 in the process

[2019-10-01 07:45] Colin-Stone commented on #102
@markcocker There is now a magnifying glass option to specify a more comprehensive search that includes owner, prefix or jobId. That option also has access to search history. The intention was to get something out there (whilst we are still in development mode) and ask for feedback. VSCode supports the creation of create simple dialogs (an entry field or quick pick) and to get a combination of ite

[2019-10-01 09:00] markcocker commented on #102
@Colin-Stone Thanks - initial feedback from trying it out:
1. For consistency, should label "Search for Jobs using attributes" be "Search Jobs Using Attributes"?
   Compare to casing and style of "Search Data Sets by Entering Patterns".
2. Label "Choose "Create new..." to define a new filter alternatively select a previously defined filter" needs to have a comma, be two sentences or rephrased
   e

[2019-10-01 12:13] MikeBauerCA commented on #251
@phaumer, would you be able to assist with this initiative?

[2019-10-01 13:34] MikeBauerCA commented on #239
Confirmed this is fixed with 0.25.0. Thank you!!

[2019-10-01 13:41] MikeBauerCA commented on #118
Nicely done! Feature to quickly recall recently used searches/filters available in 0.25.0 :)

Looks like #210 will cover the persistence request.

[2019-10-02 10:58] tucker01 opened #256 "Loading profiles not working when Zowe CLI is installed via MSI"
If you have installed Zowe CLI via the MSI and do NOT have a version of Node.js installed on your machine, the vscode extension cannot load profiles.

**Technical details:**
To enable the usage of the secure credential store, the vscode extension spawns a node process to load profiles. In summary, Keytar is used to access the operating systems secure credential vault and is built locally for the v

[2019-10-02 20:32] MikeBauerCA commented on #256
Note that this appears to be true even if you are not using the secure credential store.

[2019-10-02 21:28] pdubz3 commented on #256
I've had this problem and done some testing of different scenarios when installing the latest version via the MSI.  My conclusion is that the VS Code Extension appears to work just fine as long as I don't use the secure credential store plugin to manage my credentials.  I've also concluded that even having node pre-installed at the same version packaged with the MSI installer (10.16.1) the VS Code

[2019-10-03 13:44] phaumer commented on #207
@zFernand0 0.25 was published to the marketplace without creating a tag again. Is it not possible to create a release tag manually for now? It is something you can do with two mouse-clicks in github. If you ping me in Slack I could do it next time we publish perhaps.

[2019-10-03 13:50] zFernand0 commented on #207
Thank you so much for the reminder.
I was working on adding it to the pipeline.
I will open a PR for it in the next hour.
In the meantime, I've manually created one for this release.
I'll add a tag for the previous release corresponding to the [CHANGELOG](https://github.com/zowe/vscode-extension-for-zowe/blob/master/CHANGELOG.md)

[2019-10-03 15:42] #207 closed

[2019-10-03 16:19] phaumer commented on #207
Thanks so much. Very much appreciated @zFernand0 !

[2019-10-04 11:44] Colin-Stone commented on #212
I've restructured the profiles code to support #210 and made it more economical in loading profiles. In other words it does it once rather than multiple times during initialization.

I built in a profiles refresh option and since each of the views have a refreshAll button I have  hooked it in to refresh not just the contents but to reload the profiles all over again. I'm considering putting this b

[2019-10-04 11:56] tucker01 commented on #212
I don't think we'll be able to (at this time) avoid launching the process, but we should at least be able to get the profile names must quicker I think.

The `BasicProfileManager` in `imperative` should have a method called `getAllProfileNames()`. That will give you all profile names for a given `type` (e.g. zosmf). We should be able to use this to get the names very fast for the quick-pick. Once

[2019-10-04 12:01] tucker01 commented on #212
The rub is keytar and secure credential management and how node bindings/native code work. We can load the profiles almost instantly, but if they're securely stored... its a different matter. I'd be nice if vscode supported some kind of secure management of properties, but I believe its been requested and not planned.

[2019-10-04 12:16] Colin-Stone commented on #212
So what I currently have in the branch is to load all of the zosmf profiles anyway at initialization time and cache them. This means a list of names is available for the quickpick, unless the user adds something new. For this scenario the user would need a refresh.

I think there may be value in using the cli call to get the names each time however. This is because it will identify  if the user is

[2019-10-04 12:18] tucker01 commented on #212
Nice. Caching is a good way to go, I'm guessing then you can launch the process once and gather all profiles... that would definitely speed things up. If it can be refreshed automatically... even better.

[2019-10-04 12:21] tjohnsonBCM commented on #212
In `~/.zowe/settings/imperative.json`, there is a JSON setting `overrides.CredentialManager`. By default it is set like this:
`"overrides": { "CredentialManager": false }`

When the Secure Credentials plugin is installed, it changes to this:
`"overrides": { "CredentialManager": "@brightside/secure-credential-store" }`

I'm not sure how convenient it is to access this settings file from the VS Code

[2019-10-04 13:34] tucker01 commented on #212
Another approach would be to spawn the node process as service worker that lives in the background with imperative initialized on startup. Other extensions take a similar approach for various reasons.

This would eliminate the need for caching, allow you to take advantage of the direct imperative APIs for loading, and definitely improve response time.

[2019-10-04 14:08] t-o-m-e-k commented on #218
Hi Colin,
Thank you for fixing it 👍
I like your idea of making the state visible.

[2019-10-04 14:10] esubah1989 opened #258 "Deleting multiple files or datasets is tedious"
When deleting multiple files from USS or deleting multiple datasets, you have to delete each file or datasets separately.  I think it would be nice to have multiple files or datasets selection capability. On Mac for example, you can select multiple items for deletion by holding command key and click the items that you want to delete.

[2019-10-04 15:25] t-o-m-e-k commented on #258
I would like to ask for a similar functionality but for "toggle binary" action.
Some products have number of configuration files in ASCII and a possibility to switch all needed files at once would be nice.

This requests is similar to #224

[2019-10-08 07:47] Colin-Stone commented on #258
Closing this issue as a duplicate of #224
Thomasz your suggestion could be a new issue/enhancement.

[2019-10-08 07:47] #258 closed

[2019-10-08 11:19] t-o-m-e-k opened #259 "Allow "toggle binary" action on multiple USS files"
I would like to ask for an enhancement which would allow to select multiple USS files and run "toggle binary" action against them.
Some products have number of configuration files in ASCII and a possibility to switch all needed files at once would be nice.

[2019-10-08 14:37] bearou opened #260 "National (danish/nordic) characters are not translated correctly when observed in VS Code"
The 3 danish national characters are displayed correctly on 3270, but when seen in VS Code they are represented by #@$ ...
What information should be provided to dig into this issue ?
Brgds
Claus Bjørno

[2019-10-08 19:02] jelaplan opened #261 "Improve the CLI error messages for wrong password"
The following shows the message that a user gets when they try to call a CLI command against z/OSMF and use an incorrect password. By reading this, it isn't apparent that that is the problem.  It seems like we could add a basic message to the top that says incorrect password or called it a password error instead of a command error.

$ zowe files list ds "johndoe.public.*"
**Command Error:**
z/OSMF

[2019-10-08 21:07] jelaplan commented on #226
I added a related issue about making user name and password optional in the profiles. This ties into efforts on the VS Code extension where a user can create a connection without storing the user name and password.
https://github.com/zowe/zowe-cli/issues/538

[2019-10-08 21:19] jelaplan opened #262 "Allow Copy and Rename members in the VS Code"
I created some wireframes around copying and renaming data-set members in VS Code. I put these in Box. I'd love to get feedback - love it, hate it, change it, etc.
https://ent.box.com/s/cejdls7bl0ab1nlnjlu8iahoit25kpoa

[2019-10-09 06:08] Colin-Stone commented on #260
Hi Claus. Thanks for raising this issue to us. I think what would help us investigate would be a sample file. Is this a dataset member or USS file. If USS is there any information such as tag information, codepages I should make sure we include. Screenshot of how it should look may also be helpful. Many thanks for trying this extension out and helping us make it better.

[2019-10-09 06:15] Colin-Stone opened #263 "Filters behavior wording and reworking"
Feedback from https://github.com/zowe/vscode-extension-for-zowe/issues/102

~~1. For consistency, should label "Search for Jobs using attributes" be "Search Jobs Using Attributes"?
   Compare to casing and style of "Search Data Sets by Entering Patterns".
2. Label "Choose "Create new..." to define a new filter alternatively select a previously defined filter" needs to have a comma, be two sentence

[2019-10-09 06:26] Colin-Stone commented on #102
Thanks Mark. I created https://github.com/zowe/vscode-extension-for-zowe/issues/263 to cover points to 3.
The answer to 4 is that you can't. I've implemented a set with a capacity of 5 unique items each time you create a new item or select an item from the set it gets pushed to the front. If you add a new item to the set and the set exceeds 5 the last one drops off. So for example if you had a spe

[2019-10-09 06:41] Colin-Stone opened #264 "Achieve 90% Unit test coverage"
Succeeded in getting over 80% but for GA we should endeavor to hit 90% coverage
![image](https://user-images.githubusercontent.com/30794003/66457347-20d77400-ea68-11e9-8660-fb06979ab35c.png)

[2019-10-09 06:54] Colin-Stone opened #265 "Confirm integration test coverage."
Need to ensure we have adequate integration test coverage associated with the main function points provided by the VSCode extension.

1. Create a list of the Zosmf CLI functions called and relate to the registered commands.
2. Ensure all commands at least have integration tests associated. If we have CLI function not associated with commands we may need to decide if we need to create a command but

[2019-10-09 13:48] jalel01 commented on #234
#262 contains mockups for RENAME suggested by John Laplante

[2019-10-09 19:44] jelaplan opened #267 "Rename Reject-Unauthized to Accept-Unauathorized"
Reject-Unauthized is a flag associated with security certificates. This topic is complex and sort of hard to understand. We have this option whereby users can enable command execution by reducing security to telling the mainframe to accept unauthorized certificates. To achieve this a user has to type --reject-unauthorized false. This is sort of like saying don't reject my application to school so

[2019-10-10 02:16] dkelosky commented on #267
It is complex and hard to understand.  The flag is surfaced directly from [Node.js APIs](https://nodejs.org/api/tls.html#tls_tls_createserver_options_secureconnectionlistener).

In this case, we're telling the client (not the server/mainframe) to allow certificates which are default-trusted by Mozilla.

Other Node.js HTTP clients like [request](https://github.com/request/request-promise/issues/225

[2019-10-10 05:31] Colin-Stone commented on #256
The current version of the VSCode extension incorporates the `@brightside` version of CLI rather than `@zowe` which I believe provides the SCS plugin. Should we reconsider this situation and could this also have an impact?.

[2019-10-10 19:04] jelaplan opened #268 "VS Code Extension - Make the menu options for favorites consistent"
There are menu options for the connection and for the data-set members for adding to favorites. The former menu reads 'Save Search' and the latter 'Add to Favorites.' We should make both of them read 'Add to Favorites'.

![image](https://user-images.githubusercontent.com/3207260/66598382-ed334180-eb6e-11e9-87d5-051fab56994f.png)

![image](https://user-images.githubusercontent.com/3207260/66598528-

[2019-10-10 21:51] jelaplan commented on #249
Well, there is a lot here to consider. I'm partial to Mike Bauer's response about publishing something in the store / marketplace with a name that begins with VS Code for the reasons he states. But where we are presenting it at a conference or to a customer, it makes sense to refer to it that way to provide context and it seems we already do that in the README. I just don't see it making sense as

[2019-10-11 09:08] jalel01 opened #269 "Improve Add Profile experience for Extension in Theia"
I noticed one UI inconsistency yesterday for the Ext. running in Theia > there is no + sign to add a Connection Profile. Currently you need to open the command window and select 'Add Profile" from the drop down list of options. Furthermore, there are 2 'Add Profile', one for Datasets and one for Jobs but these are not labelled as such.

This will need some UX attention to improve the experience he

[2019-10-11 09:09] jalel01 commented on #269
Referncing #251 for awareness

[2019-10-11 11:10] Colin-Stone commented on #251
@jellypuno Thanks for highlighting this. Does this mean the observed behavior of the extension is different between the two environments or simply that we have two different scenarios?.

[2019-10-11 11:53] jellypuno commented on #251
@Colin-Stone What we have seen so far is that the behavior of the extension is different between the two environments.

[2019-10-11 12:46] MikeBauerCA commented on #262
Thank you for the wireframes!!
We have linked to this issue from the related issues. Closing as duplicate.

[2019-10-11 12:46] #262 closed

[2019-10-11 12:51] #261 closed

[2019-10-11 12:55] MikeBauerCA commented on #217
Perhaps, the default "default search" could be `<username>.*`

[2019-10-11 13:18] Colin-Stone commented on #263
Reworded for points 1 and 2 rather than miss them later. Issue still good as a first issue adding the callback function

[2019-10-11 13:26] Colin-Stone commented on #269
I notice that the Hover help for the USS view says Add Session so that needs to say the same thing. It's this icon you say is missing right?.
![image](https://user-images.githubusercontent.com/30794003/66654894-10272980-ec33-11e9-9e15-128842dbb4a8.png)

[2019-10-11 14:02] Colin-Stone commented on #211
I can't recreate this issue. Maybe some code has addressed this already. Could you try again with the 0.25+ version please?.

[2019-10-11 14:24] tjohnsonBCM commented on #211
I'm also no longer to reproduce this issue, it appears to have been fixed. Thanks :)

[2019-10-11 14:24] #211 closed

[2019-10-11 14:30] Colin-Stone commented on #211
"Back of the net...." Thanks Timothy.

[2019-10-11 14:54] solsu01 commented on #249
My recommendation would be to call it "zowe explorer" akin to "windows explorer" which lets you look at files on windows. I do think calling the extension just "zowe" is a bit too broad.

We can call it whatever we want in the Zowe/OMP space, but please do not call it 'VS Code plugin for Zowe' or 'Visual Studio Code plugin for Zowe' in the VS Code marketplace. This extension exists in the VS Code

[2019-10-11 16:37] RASakach commented on #249
I second the recommendation to call it "Zowe explorer".  By making it available in the VS Code Marketplace it is implied to be VS Code applicable.  Calling it Zowe, translates to "Mainframe" or even "Open Mainframe", so I would expect folks would begin to understand it to mean "a mainframe exploration tool that works with Visual Studio Code".  Simple, concise, applicable.

[2019-10-11 17:19] MikeBauerCA commented on #235
This issue may not be limited to CA Disk. An issue has also been recorded with DFSMShsm. See https://github.com/zowe/data-sets/issues/127 for additional details.

[2019-10-14 10:01] Colin-Stone commented on #249
Okay so we could change the display name to "Zowe Explorer", maybe create a graphic combining the zowe icon with say a tree decorator
<img width="28" alt="image" src="https://user-images.githubusercontent.com/30794003/66743327-8f09a580-ee71-11e9-979b-b03a020f68cb.png"><img width="37" alt="image" src="https://user-images.githubusercontent.com/30794003/66743225-5c5fad00-ee71-11e9-876c-a7c9c8f5b065.p

[2019-10-14 10:06] #212 closed

[2019-10-14 10:06] #210 closed

[2019-10-14 10:10] Colin-Stone commented on #98
This is complete although we should still be adjusting the code to reduce the the volume of code in the extension file and assign it to the more appropriate file.

[2019-10-14 10:10] #98 closed

[2019-10-14 15:05] Colin-Stone opened #271 "Regression: Lost the dataset icon"
Probably prior to v0.25 dataset files have lost their icon
<img width="168" alt="image" src="https://user-images.githubusercontent.com/30794003/66761682-64811200-ee9c-11e9-8974-75fe4621badd.png">

[2019-10-14 18:53] Camilolferreira opened #272 "MSG IKJ56486I THE ACCOUNT NUMBER XXXXXX-XXX-XXXX000-000-0 HAS NOT BEEN DEFINED FOR USE"
Hello,
I experimenting this issue on zowe-cli when I try to use the command zowe zos-files list ds "ibmXXXX.**" --zosmf-profile zosPROF . It seems like the account number is greater than the maximum value allowed because it was trunked. The real account number is XXXXXX-XXX-XXXX000-000-000-000 .  I can run commands zowe zos-tso, zowe zos-jobs and zowe zos-console with no issue. Have any idea what'

[2019-10-14 18:56] Camilolferreira commented on #272
Sorry, I meant it was truncated (not trunked).

[2019-10-15 08:19] jellypuno commented on #272
Hi @Camilolferreira , So what is the issue here? Is it the truncated error message or the IKJ56486I?

[2019-10-15 12:28] Camilolferreira commented on #272
Hi Jelly, yes i can. This error happen when I run this command on windows prompt to list files: zowe zos-files list ds "ibmXXXX.**" --zosmf-profile zosPROF.  The error message is not truncated, but the account number on error message seems to be. Following the entire return received:
C:\Users\CamiloFerreira>zowe zos-files list ds "ibm1xxx.**" --zosmf-profile zosPROF
Command Error:
z/OSMF REST API

[2019-10-15 12:31] Camilolferreira commented on #272
Hi Jelly, yes i can. This error happen when I run this command on windows
prompt to list files: zowe zos-files list ds "ibmXXXX." --zosmf-profile
zosPROF. The error message is not truncated, but the account number on
error message seems to be. Following the entire return received:

C:\Users\CamiloFerreira>zowe zos-files list ds "ibm1xxx." --zosmf-profile
zosPROF
Command Error:
z/OSMF REST API Erro

[2019-10-15 13:06] jellypuno commented on #272
Hi @Camilolferreira ,

This is what I know, IKJ56486I error is a login error. It means that the account number is not defined in the RACF Database.

One of the following conditions occurred:
The entered accounting number is not defined in the RACF® database.
The RACF administrator must first define the accounting number as a RACF resource and then grant the user access using the PERMIT command. (H

[2019-10-15 13:26] Camilolferreira commented on #272
Hi @jellypuno,

Yes, the message is clear. However, I can login normally on TSO with the
account  XXXXXX-XXX-XXXX000-000-000-00 (29 bytes)  but the account number
that appears on  IKJ56486I message has only 24 bytes .  I don't know if it
was truncated when  zowe is called due some limitation or missing
configuration.

Thank you for your support.

Regards,

   Camilo Ferreira
   z/OS System Support

[2019-10-15 13:37] Colin-Stone commented on #235
Testing locally which is without CA Disk I don't get the same response and indeed get all of the datasets returned. The returned information indicates that a dataset is in fact a migrated dataset which would enable the association of a revised object context and in turn control the availability of subsequent commands and display icon.

[2019-10-15 13:50] jellypuno commented on #272
@Camilolferreira That is interesting. I will try to investigate more. Are you using a --base-path in your profile?

[2019-10-15 14:09] Camilolferreira commented on #272
No, I am not using --base-path in my profile.

Regards,

   Camilo Ferreira
   z/OS System Support
   Certified Technical Specialist Level 1
   Experienced

   Phone: +55 21 2132-3140 Tieline: 831-3140
   E-mail: clellis@br.ibm.com
   Av. Nossa Senhora da Penha, 1255, Rooms 101/102
   Vitoria, Brazil

From:	jellypuno <notifications@github.com>
To:	zowe/vscode-extension-for-zowe
            <vscode

[2019-10-15 14:56] jellypuno commented on #272
@Camilolferreira ok... as I see it, this issue a problem in the system configuration for your ID in z/OSMF. In VSCode or Zowe CLI, we are simply receiving and passing the information given to us. The only verification that we have is if the account number is a string. So I am sure that there will be no truncation on our end.

How about this, Can you try to issue the request via postman? Just use b

[2019-10-15 18:32] Camilolferreira commented on #272
Hi @jellypuno
You are right,  by postman I've got the same error: I don't know how can I
fix that on z/osmf configuration. Is there another way to configure account
number for ssh requests?

 rc       4

 reason   2

 details

 0        "IKJ56486I THE ACCOUNT NUMBER XXXXXX-XXX-XXXX000-000-0 HAS NOT BEEN DEFINED FOR USE"

 1        "IKJ56429A REENTER -"

 category 2

 message  "login: received unex

[2019-10-15 19:11] Camilolferreira commented on #272
Hi @Jellypuno,

The IZUPRMXX member of SYS1.PARMLIB was updated with RESTAPI_FILE ACCT( parameter which has solved my issue.

Thank you very much for your support.

[2019-10-15 19:11] #272 closed

[2019-10-16 07:03] jalel01 commented on #269
Yes thats the one.

[2019-10-16 12:51] zFernand0 opened #273 "Upload Member action fails with cryptic message when no file is selected"
When uploading a member to a data set, the OS File Browser comes up as expected. If you cancel the action, you get:
![image](https://user-images.githubusercontent.com/37381190/66920682-cacb7900-eff1-11e9-812f-e2520b740161.png)

Would it be possible to handle this the same way we do with some (if not all) other inputs?
For example, selecting a filter and leaving the input box by clicking outside, w

[2019-10-17 10:56] Colin-Stone commented on #235
The list works nicely and provides information that a dataset is migrated. It's then a case of creating a migrated object, in this view shown with a "ghost-like" appearance. Options on the migrated type will include HRECALL but requires the appropriate additional code in the CLI
![image](https://user-images.githubusercontent.com/30794003/67002853-abf1e300-f0d4-11e9-9e53-7cf5d6ff98e0.png)

[2019-10-17 13:53] Colin-Stone opened #274 "Rework filter dialogs based on recommendations"
The main criticism of the dialogs is that it is not obvious that if you just type in a value in the QuickPick rather than the InputBox it gets lost.

The recommendation I had was to use the approach VSCode has implemented for GitHub where they extract the value from the QuickBox whilst checking the selection corresponds.
This is a little more complicated but safe because it's using API's so will d

[2019-10-17 14:15] zFernand0 commented on #256
It makes sense why someone could think that this issue is similar to #157 since there is no way of telling what version of the CLI is installed when using the MSI unless someone explicitly says it.

As a matter of fact, **the MSI being reference in this issue is installing `@brightside/core@lts-incremental`**

Apologies in advance for the confusion

[2019-10-18 13:04] aldhysanjaya opened #275 "Bitcoin"
Sistem Error Bitcoin

[2019-10-18 13:11] zFernand0 commented on #275
Considered as Spam.

Content Reported!

[2019-10-18 13:11] #275 closed

[2019-10-18 13:59] ChangingJourneys opened #276 "Jobs Filter: Text for job id is not displayed"
While testing in Theia, The Jobid message is not displayed when creating a filter in jobs container.

![jobid](https://user-images.githubusercontent.com/50014521/67100530-1df32680-f1c0-11e9-9402-93944f8f3016.gif)

[2019-10-18 14:00] #276 closed

[2019-10-18 14:09] crawr opened #277 "'Filter by Job ID' text input is not displayed"
While testing in the Theia environment, the Text Input Box to Filter by Job ID is displayed as blank

![jobid](https://user-images.githubusercontent.com/45845502/67100942-edf85300-f1c0-11e9-902b-4b08a0569f71.gif)

[2019-10-18 16:08] thushanwasa commented on #263
Can I call

[2019-10-19 20:50] aldhysanjaya commented on #275
whyyy

On Fri, Oct 18, 2019 at 8:11 PM Fernando Rijo Cedeno <
notifications@github.com> wrote:

[2019-10-21 09:09] crawr commented on #277
Thanks for looking into it, @Colin-Stone. That sounds good.

[2019-10-21 13:55] jalel01 commented on #269
Looks like the + icon is now available with latest version of Theia. We'll do some more testing and then close this Issue once confirmed.

[2019-10-21 17:13] phaumer commented on #226
I am looking at the https://github.com/zowe/vscode-extension-for-zowe/tree/NewProfiles branch and see that you removed the Profiles class and replaced it with several files of loose functions. Why need keep one clean abstraction of loading and managing profiles?

[2019-10-22 10:57] jellypuno commented on #226
@phaumer Thank you for checking the branch. This is a work in progress. I have yet to merge the latest profile changes from the master branch.

[2019-10-22 21:06] phaumer opened #279 "Support CLI plugin extensibility"
The current Zowe VS Code extension only supports the default CLI that is implemented using zOSMF. However, the CLI can be extended with plugins that could provide other means of accessing z/OS. For example USS could be accessed using FTP or SSH protocols. (We are currently in the process of implementing a CLI FTP plugin that would do such a thing for clients who do not have zOSMF configured.)

The

[2019-10-22 21:10] phaumer commented on #226
Thanks. Perhaps we can coordinate this work with an idea we have for supporting other CLI plugins in the VS Code extension, which would also be CLI profile based. I am working on a prototype based on the current master branch's Profile class.

I filed this issue describing the general idea: https://github.com/zowe/vscode-extension-for-zowe/issues/279

[2019-10-23 02:43] dkelosky commented on #279
You mentioned that you're implementing a CLI FTP plugin, is this different than this: https://github.com/zowe/zowe-cli-ftp-plugin/stargazers ?

[2019-10-23 13:03] phaumer commented on #279
Oh dear, I did not realize that existed @dkelosky :-) Thanks for pointing us to that. We will look at that and see if we can use it instead and make extensions to that one if needed to support the scenarios outlined above..

[2019-10-23 13:06] phaumer commented on #226
@MikeBauerCA @jelaplan @zFernand0 based on the discussion in Slack, do I assume correctly that the password management needs to be implemented in `@zowe/imperative` and not only for the VS Code extension; so that password are always secure even if users only work with the CLI and not the extension?

[2019-10-23 13:19] zFernand0 commented on #226
Hey @phaumer, Then answer is `yes`.
Whether we go the route of Obfuscation (:+1:) or using the OS credential mechanisms (:+1: :+1:), it's better to implement it in `@zowe/imperative` since this implementation will be considered a breaking change and we cannot disrupt people using the `@brightside/core@lts-incremental` version.
I hope this helps 😄

[2019-10-23 14:54] dkelosky commented on #226
Just so that it's not lost; longer term - we plan to move more into management of tokens (JWT & LTPA2) instead of username & password.  This should help as we prepare to support MFA enabled use cases.

[2019-10-23 18:01] MikeBauerCA commented on #249
I propose just changing the display name and leaving the logo alone. I agree with @solsu01 that calling the extension just "Zowe" is too broad. @jelaplan, thanks for the mock-up!

![image](https://user-images.githubusercontent.com/35504792/67420846-5d918800-f59d-11e9-91ad-1f745474d04b.png)

[2019-10-23 18:25] jelaplan commented on #249
Here is a proposal for the VS Code Marketplace. I reviewed this with Mike Bauer and we agree. We aren't changing the logo which I would prefer to avoid since brand identity is a delicate thing. I touched up the text to be better get to the point.

I wonder if we might simply write 'Zowe Explorer extension' and drop the 'for Visual Studio code' because the latter is redundant.

![image](https://use

[2019-10-23 18:31] MikeBauerCA commented on #249
I think we should just call it the Zowe Explorer in all documentation and drop the "extension for Visual Studio Code" from the official name.

[2019-10-24 07:18] Colin-Stone commented on #249
So from my perspective all we need to change is the displayName value in package.nls.json to Zowe Explorer and we can ship with the new name in our next version (0.27) The name of the package will have to stay the same "name": "vscode-extension-for-zowe" which is the unique id that I think all of our download and stats are associated with. @MikeBauerCA do we still need agreement from the ZLC/John

[2019-10-24 08:58] jellypuno opened #280 "Initialization error when no default profiles exist"
In Che Theia, the current experience in loading default profiles is confusing. After launching the workspace:

- Although the “+” appears when you click on it nothing happens (ie no pop-up occurs)

- After you refresh the browser window, suddenly the profile appears selected what I guess is the default profile (nice, but why did I have to refresh the screen) as well I get a message:

- I select Ye

[2019-10-24 14:19] MikeBauerCA commented on #249
@jmertic @MarkAckert based on this thread, we would like to formally propose changing the name of this extension to the Zowe Explorer. I believe changes like this should be run by the ZLC and agreed upon. Could you please raise this to the ZLC as soon as possible and let us know the result here?

[2019-10-24 14:28] jmertic commented on #249
Hey! One thing that this project should is ensure that the naming is inline with the [Linux Foundation Trademark Guidelines](https://www.linuxfoundation.org/trademark-usage/).

In terms of ZLC, I'm not sure what jurisdiction they have here. Naming should be something handled by the individual project as far as I know.

[2019-10-24 14:53] jmertic commented on #249
I'm uncomfortable providing advice here - from everything I've seen the only components of Zowe are the CLI, API Mediation Layer, and App Framework. There's not a lot of clarity of how these other components fit in or are governed, so it would be best to get that clarified first.

[2019-10-24 19:55] jelaplan commented on #249
John, I reviewed the trademark guidelines. For the reason quoted below, the spirit of the doc, and general branding best practices, we decided to not do any tweaks to he logo. The change to append the term explorer to Zowe Explorer is not different in spirit to Zowe CLI, or Zowe App Framework.
- "A trademark should not be altered or amended in any way.  A mark should not be combined with any other

[2019-10-25 08:26] Colin-Stone commented on #269
Thanks for addressing this guys, just as a note. I've always intended to have a tidy up of the icons. So for example the plus sign is darker than the refresh sign and I wanted to tone it down a little. Similarly the search magnifier when used to indicate a favorite is too dark in that scenario. Just to complicate however when used as an action I think it is correct so I think we need two versions

[2019-10-25 13:26] jmertic commented on #249
I definitely understand where you are coming from and agree with your logic.

My big challenge is understanding how this project fits into the Zowe overall governance - it's not all that clear. I think if that could be resolved then the point you are making becomes much easier.

[2019-10-25 14:48] solsu01 commented on #249
Sounds like we need Zowe Explorer to be a ZLC topic, so it can be put in context alongside the other major Zowe components.

BTW here's where the Zowe Explorer lives in the Zowe ecosystem:
![image](https://user-images.githubusercontent.com/35504644/67580824-f72f7580-f714-11e9-9f54-79e668b02f65.png)

[2019-10-25 16:26] jmertic commented on #249
That likely makes sense - clarity on projects and tools like this would be super helpful for me and others.

[2019-10-28 11:54] MikeBauerCA commented on #249
@MarkAckert could you bring this up as a topic of discussion with the ZLC? We could also link to it in the Zowe downloads, but may want to wait for the 1.0 release.

@Colin-Stone I believe we are okay to make the name change in preparation for the 1.0 release.

[2019-10-29 16:43] JillieBeanSim opened #286 "Bug: Can't load USS file list"
I am forwarding this issue that deals with the Zowe VS Code ext for @Rappel87

![image](https://user-images.githubusercontent.com/49491949/67788873-74c2f080-fa49-11e9-8cb2-f62fdce89dcf.png)

[2019-10-30 12:23] Colin-Stone opened #289 "Create alternative command options and graphic for datasets in migrates state"
As per comments on https://github.com/zowe/vscode-extension-for-zowe/issues/235
Create a migrated object, in this view shown with a "ghost-like" appearance. Options on the migrated type will include HRECALL but requires the appropriate additional code in the CLI https://github.com/zowe/zowe-cli/issues/524
![image](https://user-images.githubusercontent.com/30794003/67002853-abf1e300-f0d4-11e9-9e53-

[2019-10-30 17:08] ChrisBoehmCA commented on #261
Just wanted to note, if z/OSMF is configured correctly, you get a 401 response always for incorrect passwords. The 500 error here is due to z/OSMF configuration problems.

[2019-10-31 10:35] VitekVlcek-Broadcom commented on #261
@ChrisBoehmCA are there any details on what could be wrong?

[2019-10-31 15:50] jellypuno commented on #280
Fix was added in Richelle's pull request #287. Additional condition was added

[2019-11-01 13:54] IgorCATech opened #290 "Update the Zowe Explorer video"
The existing video https://youtu.be/la1_Ss27fn8 is obsolete and needs to be replaced with a new one.
Attached find the draft of the script for the video. The idea is to create a tutorial that will include both new and existing features.
[Zowe Explorer tutorial script.docx](https://github.com/zowe/vscode-extension-for-zowe/files/3798188/Zowe.Explorer.tutorial.script.docx)
The video is due when Zowe

[2019-11-04 12:17] zFernand0 opened #291 "Implement Codecov"
We need to have PRs fail if coverage will decrease by a significant amount.

For now we can set a target of 90+%

This is also part of #264

_Originally posted by @Colin-Stone in https://github.com/zowe/vscode-extension-for-zowe/pull/287#issuecomment-549253277_

[2019-11-04 13:51] #291 closed

[2019-11-04 13:59] #169 closed

[2019-11-04 15:31] Colin-Stone commented on #264
Achieved Monday 4th Nov https://github.com/zowe/vscode-extension-for-zowe/pull/285

Thanks @zFernand0 for implementing checks in build to maintain the level

[2019-11-04 15:31] #264 closed

[2019-11-06 12:43] bearou commented on #260
This is a "normal" zOS dataset (not USS); codepage 277.
Where should I post sample screenshots ?

[2019-11-06 13:03] #177 closed

[2019-11-06 14:12] Colin-Stone commented on #260
Thanks Claus. Can you drop a sreenshot in a comment box please?
Tak

[2019-11-06 14:35] #274 closed

[2019-11-06 14:37] #271 closed

[2019-11-06 14:37] #277 closed

[2019-11-06 15:45] Colin-Stone commented on #260
Another thought and apologies if you already have this covered. I notice that VSCode provides alternative local codepage information that can be accessed at the foot of the VSCode app..
![image](https://user-images.githubusercontent.com/30794003/68313134-023abc00-00ac-11ea-9edb-7c3a0ed90ab1.png)
 I think the default is UTF-8 but if you click on this number and subsequently clicking the `Reopen wit

[2019-11-06 15:58] Colin-Stone opened #295 "VSCode CLI dependency to be @zowe"
Set explicit Zowe explorer dependency latest @zowe rather than lts @brightside

[2019-11-06 18:10] jelaplan commented on #249
Can we change the subject line on the Marketplace? It currently is written as Visual Studio Code Extension for Zowe. Can we make it Zowe Explorer Extension for VS Code?

Who has the authority to make these changes?

<img width="787" alt="image" src="https://user-images.githubusercontent.com/3207260/68324970-7f5b3680-0096-11ea-89d8-a9578cae4e10.png">

[2019-11-06 18:14] BrandonJenkins14 commented on #249
@jelaplan - The content on the marketplace is an exact copy of the Readme.md in https://github.com/zowe/vscode-extension-for-zowe

@IgorCATech has been taking care of the Readme lately. Are we still waiting on some sort of vote/approval, or shall we make the change ASAP?

[2019-11-06 18:47] zFernand0 commented on #249
FYI, the "description" (i.e. `VS Code extension, powered by Zowe CLI...`) comes from the `package.nls.json`

[2019-11-07 07:45] bearou commented on #260
I've tried changing encoding with the following result:
The original 3270 ISPF:
![DL_3270_cp277](https://user-images.githubusercontent.com/48259804/68369476-aec37f00-013a-11ea-9bc9-801c67c4320a.JPG)
Default UTF8
![DL_VSC_UTF8](https://user-images.githubusercontent.com/48259804/68369553-e6322b80-013a-11ea-9efa-a1b4a362d659.JPG)
Encoded with nordic 865:
![DL_VSC_865](https://user-images.githubuserco

[2019-11-07 08:08] Colin-Stone commented on #249
Based on `@Colin-Stone I believe we are okay to make the display name change in preparation for the 1.0 release.` The name change was made to coincide with version 0.27.

Reopening this issue to satisfy `Can we change the subject line on the Marketplace? It currently is written as Visual Studio Code Extension for Zowe. Can we make it Zowe Explorer Extension for VS Code?`

[2019-11-07 08:13] Colin-Stone commented on #295
The change to Zowe Explorer is straightforward, i.e changing from `@brightside/core` to `@zowe/cli` and `@brightside/imperative` to `@zowe/imperative`. Are there any other aspects we need to consider and include?.

[2019-11-07 11:42] bearou commented on #161
Hi @Colin-Stone ;
Further to this issue: is it just me or do you still have to key in the password for the zowe profile in plain text ? If so, this is a major obstacle for further roll-out of Zowe VSCode extension in our organisation.

[2019-11-07 12:20] Colin-Stone commented on #161
Yes, it's a good point.
When CLI was first conceived it was from the perspective of being integrated into a DevOps environment in which references such as user names and passwords can be hidden within the build tool itself. Within the VScode extension there is no obvious way we can do the same type of thing yet. However this is an area we are very keen to address and are very open to ideas and sug

[2019-11-07 13:02] Colin-Stone commented on #260
Does this mean that in the Default UTF-8 representation is (apart from the # and [ and being the other way around) is displaying the characters mainly correctly?.

[2019-11-07 13:37] MikeBauerCA commented on #161
The CLI does not strictly require profiles. All profile options can be provided directly on the command line or via environment variables. Therefore storing the password on disk is optional. Similarly, we intend to eliminate the need to store the password on disk to use this VS Code extension as part of #226.

The advantage of storing connection details and credentials is that you need to provide

[2019-11-07 14:28] bearou commented on #260
Hi, no... the member shown is the same in 3270/ISPF and VSC. The lines are not switched around. Sorry if my example is a bit confusing. The first  'say' line is the correct Danish line in small and caps.
So the Danish letters are translated to $ etc - and $ etc are translated into Danish chars.

[2019-11-08 12:13] Colin-Stone commented on #260
Hi Claus.
Can you try retrieving directly from zosmf to see what it returns please?
e.g.
![image](https://user-images.githubusercontent.com/30794003/68475817-0dfbbf00-0221-11ea-85f3-9c035d803e4c.png)

[2019-11-08 15:14] Colin-Stone commented on #6
Not required for GA so removing from GA Epic

[2019-11-08 15:50] Colin-Stone commented on #7
Not required for GA but I can confirm that this is still an issue

[2019-11-08 15:52] Colin-Stone commented on #9
Largely addressed with the reworking of extension file to restructure where the different containers were initialized

[2019-11-08 15:52] #9 closed

[2019-11-08 16:55] Colin-Stone commented on #265
These are the most obvious functional areas for integration testing

### Datasets
- zowe.List.allMembers
- zowe.List.dataSet x 3
- zowe.Upload.fileToDataset
- zowe.Create.dataSet
- zowe.Upload.bufferToDataSet x 2
- zowe.Delete.dataSet
- zowe.Download.dataSet x 2

### USS
- zowe.List.fileList
- zowe.Upload.fileToUSSFile
- zowe.Utilities.renameUSSFile
- zowe.Delete.ussFile
- zowe.Create.uss
zowe.Dow

[2019-11-11 13:39] #5 closed

[2019-11-11 15:33] MikeBauerCA commented on #111
@tucker01 can you summarize the remaining issue here. @BrandonJenkins14 could you document this as a known issue. We should then close this issue and open up a new one as the title is misleading.

[2019-11-11 15:39] #99 closed

[2019-11-11 15:40] #111 closed

[2019-11-11 21:00] MikeBauerCA commented on #249
@jmertic since this a component of Zowe itself, do we have any flexibility on the naming? For example, we call the CLI component of Zowe, the Zowe CLI rather than the CLI for Zowe. Can we refer to this component of Zowe as the `Zowe Explorer Visual Studio Code Extension` in documentation rather than the `Visual Studio Code Extension for Zowe`?

[2019-11-12 12:53] IgorCATech opened #297 "Update the Zowe and Microsoft Marketplace docs"
https://marketplace.visualstudio.com/items?itemName=Zowe.vscode-extension-for-zowe
https://docs.zowe.org/stable/user-guide/cli-vscodeplugin.html

These docs have to be updated to include more features. Next increment will include:
- Creation of Zowe CLI z/OSMF compatible profiles inside Zowe Explorer.
- (Only Marketplace doc) Updated gifs for the above-mentioned feature and some existing features.

[2019-11-12 15:24] Joe-Winchester commented on #249
@MikeBauerCA - Looking at other https://marketplace.visualstudio.com/vscode others don't seem to include `Visual Studio Code` or `Extension` in their names.  The name is useful for folks searching and being short means it won't be clipped.  What about `Zowe Explorer for z/OS` or just `Zowe` ?

[2019-11-12 15:54] Colin-Stone commented on #107
@tjohnsonBCM Do you think this is still an issue?. Since I bypassed the syncSpawn operation in https://github.com/zowe/vscode-extension-for-zowe/pull/266 everything appears to be starting really quickly and I don't really know what to look into.

[2019-11-12 16:30] tjohnsonBCM commented on #107
@Colin-Stone The situation is greatly improved. It seems there may still be a delay of a few seconds induced by the Zowe extension, but that is likely reasonable to expect. I'm happy with the performance of the extension as it stands currently, so unless others disagree I think this issue can be closed.

[2019-11-12 16:36] Colin-Stone commented on #107
Thanks @tjohnsonBCM

[2019-11-12 16:36] #107 closed

[2019-11-12 18:22] MikeBauerCA opened #299 "Update Tags on Marketplace"
Current Tags on Marketplace:
![image](https://user-images.githubusercontent.com/35504792/68697901-becdcb00-054d-11ea-86b6-f5601a8858cf.png)

As the extension has evolved over time, I would suggest adding the following tags (perhaps others have suggestions as well):

z/OS, explorer, unix, uss, jobs, jes, mvs, tso

[2019-11-12 18:34] MikeBauerCA commented on #249
@Joe-Winchester in this thread, there were comments on `Zowe` alone being too broad. `Zowe Explorer` seems narrow enough and I would prefer to not make another change to the display name if possible. Inside the README though, we could refer to the extension simply as the `Zowe Explorer`. For external documentation on zowe.org though, my understanding is that we should initially provide the VS Code

[2019-11-13 19:01] MikeBauerCA commented on #188
@lauren-li can you confirm this issue has been resolved and close if appropriate?

[2019-11-13 19:46] lauren-li commented on #188
@MikeBauerCA This issue is mostly resolved, except the message is specific for VS Code. (It was resolved before we started thinking about bringing the extension into Theia.):

<img width="515" alt="Screen Shot 2019-11-13 at 2 34 02 PM" src="https://user-images.githubusercontent.com/45975633/68797633-f65a7700-0622-11ea-85d5-7fcae6e96d67.png">

I can add a variable in the message to customize the me

[2019-11-14 11:12] spufidoo commented on #261
I'm getting the exact same message when using the VS Code extension, but using the CLI, I can connect perfectly.
Why would this be?

[2019-11-14 11:32] dogboydog commented on #261
Hi @spufidoo . Have you restarted VSCode  since making any changes to your profile? Can you issue the  `zowe files ls ds "hlq.here"` command or are you just trying `zowe zosmf check status` ? Please note, `zowe zosmf check status` does not check the validity of your credentials. Only your other connection  details like host, port, etc.

[2019-11-14 12:05] spufidoo commented on #261
Yes, I can do zowe files ls ds "hlq.here" successfully from the command line, but when I click on the magnifying glass against an LPAR in the Zowe extension in VSC, I get that error message popping up.

[2019-11-14 12:08] ChrisBoehmCA commented on #261
Can you try the same command with the `-a` flag and see if it works?  `zowe files ls ds "hlq.here" -a`. That's the exact API that the extension uses

[2019-11-14 12:14] spufidoo commented on #261
Yep - that worked, no problem.
I was wondering whether it was a VSC json config file issue.

[2019-11-14 18:03] MikeBauerCA commented on #297
We should also directly call out z/OSMF as a prerequisite in the README.

[2019-11-14 20:16] jelaplan commented on #249
@BrandonJenkins14 what is the process for changing that readme text?  Does it need to change on a branch and then a pull request? Does someone own that text?

[2019-11-14 22:07] lauren-li commented on #74
I have been working with my teammate to try integrating webpack into Microsoft's basic [i18n sample](https://github.com/microsoft/vscode-extension-samples/tree/master/i18n-sample), just to be sure we can get the implementation right for a more basic set of files before bringing it into the Zowe VS Code extension. The i18n sample by itself runs as expected. I've created a repo for work on bringing

[2019-11-15 14:48] BrandonJenkins14 commented on #249
@jelaplan The deed is done! Check out the Readme here https://github.com/zowe/vscode-extension-for-zowe

[2019-11-15 14:54] #280 closed

[2019-11-15 16:31] JDUNNIN opened #302 "Bug: Pull from Mainframe loses the Toggle binary/text state of the current editor"
If you have a file open in the editor and you pull from mainframe to get changes, the editor forgets the binary/text state and reloads the updated file (so it is no longer readable) and you have to press Toggle binary/text again.

The menu item for Toggle binary/text also seems to get out of sync when you've pulled from mainframe.

[2019-11-15 21:03] MikeBauerCA opened #303 "Clearly specify prerequisite z/OSMF REST services in the README"
Similar to how the exact z/OSMF REST services for the Zowe CLI are documented at https://docs.zowe.org/stable/user-guide/systemrequirements-zosmf.html#z-os-requirements, we should identify the specific z/OSMF REST services that are required for the functionality offered by the Zowe Explorer.

[2019-11-15 21:05] MikeBauerCA commented on #297
@IgorCATech perhaps this issue could be closed now. I opened #303 for adding the z/OSMF prerequisites in the README.

[2019-11-18 07:52] #96 closed

[2019-11-18 08:54] #289 closed

[2019-11-18 10:23] Colin-Stone commented on #112
This is a bug because we simply don't recognise an alias. The default behavior is to assume that everything coming from the server is a sequential dataset rather partitioned so it's only partitioned aliases that are currently failing. I'll fix up and see about tweaking the graphic

[2019-11-18 14:15] IgorCATech commented on #303
Do you think we can just insert a link to that Zowe page? Or should there be an additional separate section specific for Zowe Explorer inside the Readme?

[2019-11-18 14:20] IgorCATech commented on #297
I'll close when the Zowe doc is updated, too. Should happen today.

[2019-11-18 14:34] lauren-li commented on #74
An example of webpack with vscode-nls: https://github.com/microsoft/vscode-cpptools/tree/master/Extension

[2019-11-18 14:59] zFernand0 commented on #303
I tend to believe that duplication of things is never a good approach.
I'd rather recommend adding a link to that specific section, and if there is something that the Zowe Explorer definitely does not require, then we can mention it after the link?
Maybe because I'm not aware of all the details but I do not see an issue if someone wanted to verify/configure all the z/OS requirements on that list.

[2019-11-18 16:14] zFernand0 commented on #303
@MikeBauerCA Could you help me find the z/OS MF requirements on the Zowe CLI?
I'm curious if these will just be a subset of those. 🤔

[2019-11-18 16:27] zFernand0 commented on #228
I believe this was already addressed by the QuickPick functionality.
@Colin-Stone any thoughts?

[2019-11-18 16:32] MikeBauerCA commented on #303
@zFernand0 it will be a subset of these: https://docs.zowe.org/stable/user-guide/systemrequirements-zosmf.html#z-osmf-rest-services-for-the-zowe-cli

I believe we require TSO/E address space services, z/OS data set and file REST interface, and z/OS jobs REST interface

[2019-11-18 16:36] zFernand0 opened #306 "When creating a new filter, asterisks get evaluated as a regex"
I don't believe this is necessarily an issue. Just wanted to raise the question to see if someone had any viable solution.

When trying to create a filter that matches the all datasets under a user, the asterisk gets evaluated as a regular expression and the default is the first matching filter that already exists.
![image](https://user-images.githubusercontent.com/37381190/69070897-00032680-09f7-

[2019-11-18 16:47] zFernand0 commented on #303
Hey @IgorCATech,
How hard will it be to add another topic to the [Confuguring z/OSMF subject](https://docs.zowe.org/stable/user-guide/systemrequirements-zosmf.html#configuring-z-osmf)?

[2019-11-18 17:43] MarkAckert opened #307 "Profile URL parsing rejects some valid cases"
Current URL parsing rejects the following key cases. These cases should be allowed as valid.

https://`host`:443/path
https://`host`/path

http://`host`:80/path
http://`host`

Current URL parsing also accepts protocols other than http/https. We should constrain the check to just http/https, as z/OSMF profiles require one of these protocols.

[2019-11-18 19:20] zFernand0 commented on #303
Or maybe a column on that table?
@MikeBauerCA any thoughts?

[2019-11-18 19:44] MikeBauerCA commented on #303
I think another column on that table makes sense. Perhaps the title could be "Required for Zowe Explorer VS Code Extension" and each entry could be a simple Yes or No.

[2019-11-19 02:59] jelaplan opened #312 "Peform a Search for Datasets when a new connection profile is created."
Auto Search.  When a user creates a profile, the extension should be able to do a search on the root folder of the entered user name. For a connection, they can optionally enter a user name and password. If they include the user name and password, the extension can search on that user's data-sets. This feature was included in the original z/OS Explorer. It is a nice feature and a time saver for us

[2019-11-19 03:08] jelaplan opened #311 "Favorites pin. Let people use a pin icon to add items to and remove items from the favorites."
Favorites pin. Let people use a pin icon to add items to and remove items from the favorites. This would make managing them easier. This is meant to make it more palatable to the zOS   Explorer to make it easier to add favorites.

Today, the user adds to favorites with the context menu.
<img width="463" alt="image" src="https://user-images.githubusercontent.com/3207260/69112797-2eaceb80-0a4f-11ea-

[2019-11-19 03:10] jelaplan opened #310 "Favorites icon: Change the icon for Favorites to show a star icon."
It is common to use a star icon for favorites. This would be more immediately recognizable.

<img width="271" alt="image" src="https://user-images.githubusercontent.com/3207260/69113109-0a054380-0a50-11ea-96ab-b8480d5b417f.png">

[2019-11-19 03:16] jelaplan opened #313 "Add shortcuts to the context menus to allow keyboard access"
Add shortcuts with icons in the context menus. Many of the actions in the Zowe Explorer are only available through right click context menus. Adding shortcut key combinations and echoing those shortcut key-combinations in the menu provide an alternative and  faster way to interact with the extension. The VS Code built in file explorer has these  shortcuts and icons. I drew up these  design ideas i

[2019-11-19 03:22] jelaplan opened #320 "Provide a warning message after 2 failed login attempts."
Add a warning message after 2 failed login attempts with the same user name. Present a warning message to users who try to login unsuccessfully two times with the same user name. The intent is to help them avoid making the dreaded three tries and you are locked out situation.

[2019-11-19 03:36] jelaplan opened #309 "Validate the z/OSMF Host is a Valid Service"
Validate connection: The Zowe Explorer today doesn't check the connection to zOSMF when it is created. Instead it attempts to connect when the user first does a search. A validation check would help to detect if zOSMF is alive and ready to use and this is a valuable check for new users to onboard to the Mainframe. This is a compatibility feature for zOS Explorer.

Note this was available in the or

[2019-11-19 07:42] Colin-Stone commented on #228
Yes this functionality is now provided however Theia didn't support it so I had to leave the Theia implementation in the "unintuitive" way.
However I believe there is a new update of Theia which may have addressed some of the discrepancies between it and VSCode. I know @phaumer was going to check into this.

[2019-11-19 12:20] zFernand0 commented on #309
Hey @jelaplan, if you don't mind me asking, but what is this `original z/OS Explorer extension` you are referring to? (just curious)
`Note this was available in the original z/OS Explorer extension.`

[2019-11-19 12:48] MikeBauerCA commented on #309
@jelaplan if the validation check fails, what would you expect to happen? Would the profile still be created? It is possible that users would like to set up their profiles even if z/OSMF is temporarily unreachable.

[2019-11-19 12:50] MikeBauerCA commented on #312
Closing as duplicate of #217

[2019-11-19 12:50] #312 closed

[2019-11-19 13:26] #297 closed

[2019-11-19 13:26] IgorCATech commented on #297
Zowe doc has been published.

[2019-11-19 13:30] IgorCATech commented on #303
An extra column (or rather a row) in the table sounds good to me. @zFernand0 Can you please consult me on how to populate the description for the Zowe Explorer VS Code Extension requirement?

[2019-11-19 14:41] #307 closed

[2019-11-19 15:24] Colin-Stone opened #315 "USS Rename within favorites presents profile and name to the user"
The rename function pops up an input box with a profile included. It should be a file name only
![image](https://user-images.githubusercontent.com/30794003/69154810-98bda300-0ad8-11ea-8fb6-0b50736b3fce.png)

[2019-11-19 17:32] lauren-li commented on #74
Our team has an i18n-sample branch working with both webpack and vscode-nls: https://github.com/lauren-li/vscode-extension-samples/tree/prasang-add-webpack/i18n-sample

The extension builds, packages, and works great (including debugging).
Next step would be to transfer the implementation into the Zowe VS Code extension.

A huge thanks to my teammate @PrasangAPrajapati for his help on this!

[2019-11-19 17:40] Colin-Stone commented on #74
Fantastic thanks guys. Do we have any idea if this affects the size of distributable or if it means faster starting?

[2019-11-19 17:49] PrasangAPrajapati commented on #74
@Colin-Stone Well definitely it will not affect the size of the distributable but as we know it's always faster to load one single file compare to loading small 100 different files.

Vscode community also suggests everyone to use webpack to decrease the size and also for the better performance.
https://code.visualstudio.com/api/working-with-extensions/bundling-extension#using-webpack

[2019-11-19 20:54] MikeBauerCA commented on #234
Thanks to PR #314 I can now rename data sets. However, it appears that I still cannot rename PDS members. @CForrest97, please confirm.

[2019-11-19 21:00] #249 closed

[2019-11-19 21:44] jelaplan commented on #217
Here is how I wrote this up

Perform a Search for Datasets when a new connection profile is created. I called this Auto Search.  When a user creates a profile, the extension should be able to do a search on the root folder of the entered user name. For a connection, they can optionally enter a user name and password. If they include the user name and password, the extension can search on that user

[2019-11-19 23:04] CForrest97 commented on #234
Yeah I can confirm that renaming members hasn't been added yet. I will create a PR shortly for the zowe-cli to add API support for this before I add it here

[2019-11-20 12:42] #259 closed

[2019-11-20 12:49] t-o-m-e-k commented on #259
I was able to make it work by setting appropriate tags to the files in USS - using chtag command.
Thanks to #57.
It makes more sense to make the changes in USS than to add the "toggle binary" action for multiple files.

[2019-11-20 12:53] zFernand0 commented on #217
I believe `Default Search` has already been implemented :smile:

As for `Auto Search`, I don't see a big issue as long as it's not enabled by default.

Why? Because I (as a user) may not want the extension to be making requests without me explicitly telling it to, and also the default value used for auto-search could be undesired. That leads to two (or more) configuration items that I need to be a

[2019-11-20 14:53] Colin-Stone commented on #310
Do we have access to someone with UX skills who can create svg icons please (16x16) I have tried but not my forte.

[2019-11-20 14:55] Colin-Stone commented on #309
I would still create it but set it's context as something as session_inactive. That way you can associate specific menu options and allocate an appropriate icon

[2019-11-20 15:24] jalel01 opened #317 "Overwrite File Message - Do you want to overwrite changes made on file system?"
In a Che Theia environment, the below message appears in Zowe Explorer after it had been left idle for a while. The message also appears after doing a screen refresh.

![Attachment](https://user-images.githubusercontent.com/47416452/69251368-92e7c080-0bb1-11ea-8318-f7db55d3b702.png)

#280 Same message seen here.

[2019-11-20 15:33] MarkAckert commented on #317
I think this occurs due to usage of user (global) settings. The Zowe Explorer stores profile metadata in user settings, so the number of prompts you see upon refresh increase with the number of connection profiles managed in the Zowe explorer.

Can Zowe explorer profile metadata be stored in workspace (local) settings? Is it configurable? May be a good short-term workaround.

[2019-11-20 15:52] CForrest97 commented on #233
Following the wireframes in #262 I have 2 separate actions: `copy` and `paste`. Should these commands interact with the users clipboard in a similar way to how copying files works in base VSCode. Or should the copying command just save the details in either memory or a context variable?

[2019-11-20 16:19] Colin-Stone commented on #233
I haven't used the clipboard. What I would want to check  is what would happen if the objects were pasted elsewhere. I suggest you experiment with that approach to see if anything useful such as if formatted text appeared, if so go with that otherwise its keep in memory.

[2019-11-20 16:49] #218 closed

[2019-11-20 16:50] t-o-m-e-k commented on #218
Fixed

[2019-11-20 18:41] tjohnsonBCM opened #318 "Use keytar module bundled with VSCode"
Currently using the SCS plugin with Zowe Explorer results in worse performance, because a separate Node process must be spawned to access credentials.

Historically, spawning a process has been necessary because credentials are stored securely using the `keytar` module, which contains native code.

Going forward, it seems that spawning a separate process may no longer be necessary. `keytar` is now

[2019-11-20 18:53] zFernand0 commented on #303
resolved on #305

[2019-11-20 18:53] #303 closed

[2019-11-20 22:00] jelaplan opened #319 "Support editing the connection details stored in profiles"
The idea is to let a user edit the details of a profile. Profiles may need to be changed for reasons, such as the password has changed.

It is also useful to let a user pull in a profile that was created in CLI and edit it with a GUI. The UI flow for this is the same as for creating a new connection but the GUI would echo the current values. See the flow diagram named '[04 Editing Connection](http

[2019-11-20 22:41] jelaplan commented on #217
Here is a flow diagram related to auto-search
https://ent.box.com/s/ar7rztx5poo5m5ui8y21bl0ys3eefprn

[2019-11-21 09:43] CForrest97 commented on #233
It seems that VSCode adds access to writing and reading text to the clipboard. So the only way to utilise the clipboard would be to encode the data set name, profile name and optionally the member name in a string (either in JSON.stringified or in the same format as the favourites - [profile]: dataSet[mem])
This would mean if the data was pasted elsewhere it would output the encoded string.
The be

[2019-11-21 10:55] jalel01 opened #321 "Share profile credentials across trees"
The first implementation of making user name and passwords optional as part of profile creation results in users needing to enter those credentials once per session for each tree (Dataset, USS, Jobs) with which they wish to interact. Currently each tree is its own distinct node isolated from other nodes and therefore does not share session information such as credentials.

This enhancement would p

[2019-11-21 12:50] IgorCATech commented on #303
the pr305 has been merged.

[2019-11-21 13:20] zFernand0 commented on #217
In case someone can't access it : )

![03 Auto-Connecting and Default Search](https://user-images.githubusercontent.com/37381190/69341506-b2293100-0c37-11ea-898e-377c44a649e8.png)

[2019-11-21 13:28] Colin-Stone opened #322 "Extend Issue (TSO) MVS command feature to recall last n commands"
One useful feature of VSCode is the ability to submit commands to the host systems. On a Mac that process requires the Cmd-shift-p commands to access the command palette. It's been requested that we have this function pinned somewhere handy and the ability to recall the last ten commands.

My proposal would be to provide this function as a menu on the target profile in one of the view containers.

[2019-11-21 13:37] IgorCATech opened #323 "Update Zowe Explorer docs"
Update the Zowe doc and VSC Marketplace doc to include the following features:
- rename data sets and USS files
- copy data sets and USS files (might not be part of 1.0)
- 'Safe save' as the default and only save option
- SCS-enhanced profiles (?)
- Profiles creation: make user name and pw optional
- Known issues in Zowe docs -  issue create in the docs-site repo https://github.com/zowe/docs-site/

[2019-11-21 14:47] jellypuno commented on #217
My concern about this is how long it will take for Zowe Explorer to load if there is an automatic search.

1. It takes approximately 5-10 seconds for Zowe Explorer to initialize the whole session. This is with the assumption that there you have no profiles created.
2. Once you create your new profile. It takes 5-7 seconds to process that new profile, write it in the .zowe folder then load it in th

[2019-11-21 15:05] jelaplan commented on #309
Fernando
I wonder if you are being cheeky?  z/OS Explorer is another open source extension that Broadcom has built. We decided to focus on the Zowe Explorer and try to incorporate some of the best features.

[2019-11-21 15:21] MikeBauerCA commented on #217
@jellypuno, this is a separate issue that probably needs more investigation. I am currently able to list 231 data sets on one of the systems I use in about 2 seconds.

[2019-11-21 15:28] jelaplan commented on #309
Yes, I think we'd store the connection details in a profile. My expectation would be to show a message.

[2019-11-21 15:28] jelaplan commented on #309
![image](https://user-images.githubusercontent.com/3207260/69351627-a34b7a00-0c49-11ea-9f4b-10092d35bc0c.png)

[2019-11-21 15:33] jelaplan commented on #310
I will ask Patrik Bubak who is a UX designer to create a SVG star icon.

[2019-11-21 15:35] MikeBauerCA commented on #309
@Colin-Stone & @jelaplan thanks for the suggestions. I would be in favor of both a temporary message and an icon in the tree representative of the state.

[2019-11-21 15:38] MikeBauerCA commented on #320
It would be ideal to have a means to update your password from the CLI / VS Code Extension in the case it has expired.

[2019-11-21 16:00] Colin-Stone commented on #310
That's great thanks John and maybe we would want to develop our own family of icons in the future

[2019-11-21 16:07] MatthewB19 commented on #235
This is actually a well-known issue that happens whenever z/OSMF attempts to retrieve the attributes of an archived data set.

The issue was first reported in zowe/zowe-cli/issues/325 to be affecting the List.dataSet method when passing the "attributes" option.

Essentially, whenever the `X-IBM-Attributes` header is passed to the API call, z/OSMF uses ISPF to retrieve the attributes of any data se

[2019-11-21 16:16] MatthewB19 commented on #235
In the meantime, it looks like IBM inserted a check into z/OSMF in order to determine whether a data set is archived before attempting to retrieve the attributes. I believe that was meant to solve this issue.

The problem is that it only checks for the MIGRAT pseudo-volser before attempting to retrieve the attributes. Historically, MIGRAT has been DFSMShsm's default pseudo-volser for re-cataloging

[2019-11-21 16:30] MikeBauerCA commented on #217
Talked with @jellypuno on another thread. The concern is that automatically searching all data sets under a specific HLQ could be considered an unwanted and expensive activity depending on system resources.

Perhaps a default search (after clicking on the search button, already having a filter of HLQ.* to choose from) is sufficient.

[2019-11-21 18:04] jelaplan commented on #310
That would be possible. If you need icons created then me and Patrik can most likely create them.

[2019-11-22 09:10] travatine opened #324 "Allow programmatic calling of "command": "zowe.issueTsoCmd","
Hi,

It'd be great if extensions could utilise the "command": "zowe.issueTsoCmd" by allowing a command string to be as a parameter.

e.g.
I'm writing an extension and want to be able to run TSO commands on the current system / profile that has been opened the jobs view.

Thanks.
Travis Thorne

[2019-11-22 09:30] Colin-Stone commented on #217
I would prefer to reinstate the last Zowe explorer instance. I structure the filter/query history for each cointainer in the sequence they were last run so it is simple that when activating the view you execute the last filter/query. I do agree with @zFernando that the user should be able to turn this off

[2019-11-22 11:01] bubpa01 commented on #310
Is it possible to acquire the original SVG for the icon that I could change?

[2019-11-22 12:11] Colin-Stone commented on #310
Hi Patrik. If you look in resources/dark and resources/light there are all of the icons. I originally took these from VSCode minimal set which seemed to work well and then tweaked them.

[2019-11-22 12:25] bubpa01 commented on #310
![image](https://user-images.githubusercontent.com/58072638/69425590-825b5580-0d2b-11ea-84a3-a40479eb69c3.png)

[2019-11-22 12:29] bubpa01 commented on #310
Thanks for the responses guys.

I'm hosting the icons in Figma - our official web-based collaborative design tool. You should be able to see them via [this link](https://www.figma.com/file/MvlsCEJMGIW3zBqWDI7xFN/VS-Code-Icons?node-id=0%3A1).

[2019-11-22 14:01] MikeBauerCA commented on #324
For the TSO command you are trying to issue, would it make sense to include it as part of the context menu on a particular job? This is what the menu currently looks like:
![image](https://user-images.githubusercontent.com/35504792/69431291-6d6bcb80-0d05-11ea-82ca-2948237950bd.png)

Maybe just a generic (Issue TSO command) option would be valuable in case folks were not aware of the ability to run

[2019-11-22 14:24] Colin-Stone commented on #324
Similar to https://github.com/zowe/vscode-extension-for-zowe/issues/322

[2019-11-22 15:26] travatine commented on #324
Hi,
Some more details on what the extension is trying to do;

When a job gets a "bad" return code such as an "abend" , the user could open a job output spool file, such as the JES MSGS, The user could then right click in the downloaded job spool file and run my extension to investigate the abend.

My extension would search the job output for messages known to be emitted by Abend investigation tool

[2019-11-24 16:06] #324 closed

[2019-11-24 16:07] travatine commented on #324
I think Mike's suggest of using zowe/cli directly will work for me

[2019-11-25 19:22] jelaplan commented on #310
Thanks Patrik

[2019-11-25 19:26] jelaplan commented on #310
@Colin-Stone are there other icons that you are concerned about?

[2019-11-25 20:24] Colin-Stone commented on #310
Thaks for the offer. This will be ongoing work so no rush but I would like to have some more document icons at some stage that possibly using decorators subtley represent some z/OS specific concepts.

- Binary file
- Archived or Migrated dataset file or folder
- A dataset alias
- A job
- A job spool
- Possibly Type specific ? asm, cbl, pli, copybook etc

And at the risk of sounding ungrateful can

[2019-11-26 08:05] jalel01 opened #327 "Support Large Datasets and PDS Members"
**Objective**: Test to ensure UX is the same for "large" files as for small / average files.

We have a few open questions with regard to support for large datasets in Zowe Explorer:

- Need to define what we mean by "large" in terms of size of a single dataset?

- Should we also take account of support for interacting with multiple datasets which, taken together, add up to "large"? 

- Need to de

[2019-11-26 09:04] Colin-Stone commented on #202
I don't like the current implementation of session labelling. The label field is used by VSCode for the node id and as a unique id to decide if refresh is needed. Hence there is some code in the VSCode extension that tweaks that value to force a refresh. For the sake of reliability the label should be constructed from two new component fields. The base label which is usually the session name and c

[2019-11-26 12:37] Colin-Stone commented on #148
The function is not referenced and is the only function in jesNode Actions. Suggest the file is deleted.

[2019-11-26 12:42] Colin-Stone opened #328 "Code restructure - Use Interfaces and Abstract Classes"
Legacy debt. Zowe Explorer originates from three separate plugins and although a lot of effort has gone in to making all three behave the same there are some areas of inconsistency which need to be ironed out.

To do this I propose creating AbstractZoweNode and AbstractZoweProvider representing nodes and trees respectively and allowing the three sets of classes to converge areas of common function

[2019-11-26 12:46] Colin-Stone commented on #202
Duplicate requirement https://github.com/zowe/vscode-extension-for-zowe/issues/136

[2019-11-26 13:07] Colin-Stone commented on #254
Should implement chown, chmod and chtag.
Possibly extattr?

[2019-11-26 13:35] MikeBauerCA opened #330 "Provide icons representative of z/OS specific concepts"
Thanks for the offer. This will be ongoing work so no rush but I would like to have some more document icons at some stage that possibly using decorators subtley represent some z/OS specific concepts.

- Binary file
- Archived or Migrated dataset file or folder
- A dataset alias
- A job
- A job spool
- Possibly Type specific ? asm, cbl, pli, copybook etc

And at the risk of sounding ungrateful/ung

[2019-11-26 13:41] venkatzhub commented on #327
I will take a stab at answering some of the questions:
1. Large datasets - in reality large number of datasets: This scenario is when a user types in a filter (e.g HLQ.* ) - and the expansion of that results in 20k - 40k datasets being displayed in the UI. The "large" in terms of size is hard to define - one approach can be to research the current behavior starting with 5k, 10k,15k,20k, upto 40k a

[2019-11-26 13:44] Colin-Stone commented on #136
I don't like the current implementation of session  labelling. The label field is used by VSCode for the node id and as a  unique id to decide if refresh is needed. Hence there is some code in  the VSCode extension that tweaks that value to force a refresh. For the  sake of reliability the label should be constructed from two new  component fields. The base label which is usually the session name

[2019-11-26 13:44] Colin-Stone commented on #202
Duplicate requirement #136

[2019-11-26 13:44] #202 closed

[2019-11-26 13:49] venkatzhub commented on #327
The Core problem statement is - how Zowe explorer manage large number of datasets or large number of members in a given dataset with reasonable performance and user experience?

[2019-11-26 14:06] MikeBauerCA commented on #243
Closing, will raise again if this becomes a larger issue.

[2019-11-26 14:06] #243 closed

[2019-11-26 14:12] MikeBauerCA commented on #182
Copy path is now supported. Closing

[2019-11-26 14:12] #182 closed

[2019-11-26 14:14] MikeBauerCA commented on #155
Documentation updated. It is also now possible to create profiles directly from the Zowe Explorer.

[2019-11-26 14:14] #155 closed

[2019-11-26 14:15] ChrisBoehmCA commented on #182
Awesome :D

[2019-11-26 14:18] MikeBauerCA commented on #39
Related to #235

[2019-11-26 15:28] MikeBauerCA commented on #279
@phaumer do you see significant interest from the mainframe community in using FTP over z/OSMF? I'm in favor of enabling plug-in extensibility and allowing folks to use the services they have/want, but I am trying to evaluate the priority of this initiative.

[2019-11-26 16:31] jelaplan commented on #155
@MikeBauerCA & @jellypuno , it seems that if you start with no profiles in the .zowe > profiles > zosmf folder then the Zowe Explorer won't let you create a new connection. I closed VS Code and I went into that folder and moved out all the contents and then tried to restart then I get this error.  This might not be a common case but it doesn't get handled gracefully.
<img width="549" alt="image" s

[2019-11-26 16:42] jelaplan commented on #330
@MikeBauerCA I can look into this. It seems what you want is file format specific icons. We see that kind of thing in Windows Explorer and Mac Finder.  Tomas Laurinec  had a series of icons for those and I'll reach out to him to see what he has. I have one concern that a listing can begin to look mess with a variety of icons. Colin mentioned a family of icons and we might use that concept to creat